# 1. Json

In [1]:
# Dependencies
import json
import requests
import pandas as pd
from pprint import pprint
from bs4 import BeautifulSoup
from splinter import Browser

# 2. URL: https://ourworldindata.org/internet#all-charts-preview

# 2.9. Number of internet users by country

## 2.9.1. Country Data

In [2]:
url = 'https://ourworldindata.org/grapher/data/variables/99383.json?v=3'
Get_Data = requests.get(url).json()
#pprint(get_data)

In [3]:
Country_ID = []
Country_Name = []
Country_Code = []

for E in Get_Data['entityKey']:
    Country_ID.append(E)
    Country_Name.append(Get_Data['entityKey'][E]['name'])
    Country_Code.append(Get_Data['entityKey'][E]['code'])

In [4]:
#print(Country_ID)
len(Country_ID)

193

In [5]:
#print(Country_Code)
len(Country_Code)

193

In [6]:
#print(Country_Name)
len(Country_Name)

193

In [7]:
Country_df = pd.DataFrame({
    'Country_ID'    : Country_ID,
    'Country_Code'  : Country_Code,
    'Country_Name'  : Country_Name
})

In [8]:
Country_df

    Country_ID Country_Code        Country_Name
0            1          GBR      United Kingdom
1            2          IRL             Ireland
2            3          FRA              France
3            4          BEL             Belgium
4            5          NLD         Netherlands
..         ...          ...                 ...
188        259          SLV         El Salvador
189        262          MAC               Macao
190        279          CUW             Curacao
191        289         None  Sub-Saharan Africa
192        355     OWID_WRL               World

[193 rows x 3 columns]

In [9]:
# Export to CSV
Country_df.to_csv("../../02_Data_Output/Internet_Users_Country_Countries_df.csv",
                   index=False, 
                   header=True
                  )

## 2.9.2 Values

In [10]:
Country_ID = []
Number_Of_Internet_Users_By_Country = []
Country_Years = []


IDs      = Get_Data['variables']['99383']['entities'] 
Values   = Get_Data['variables']['99383']['values']
Years    = Get_Data['variables']['99383']['years']
    
    
for I in IDs:
    Country_ID.append(I)

for V in Values:
    Number_Of_Internet_Users_By_Country.append(V)
    
for Y in Years:
    Country_Years.append(Y)

In [11]:
#print(Country_ID)

In [12]:
Country_Values_df = pd.DataFrame({
    'Country_ID'     : Country_ID,
    'Country_Years'  : Country_Years,
    'Number_Of_Internet_Users_By_Country'  : Number_Of_Internet_Users_By_Country
})

In [13]:
Country_Values_df

      Country_ID  Country_Years  Number_Of_Internet_Users_By_Country
0             15           1990                                    0
1             16           1990                                    0
2             17           1990                                    0
3             19           1990                                    0
4             20           1990                                    0
...          ...            ...                                  ...
4531          75           2017                             36515273
4532          74           2017                               963813
4533          71           2017                              6400330
4534          70           2017                             52229607
4535          72           2017                              8913210

[4536 rows x 3 columns]

In [14]:
# Export to CSV
Country_Values_df.to_csv("../../02_Data_Output/Internet_Users_Country_Values_df.csv",
                   index=False, 
                   header=True
                  )

# 2.16. Share of the population using the Internet

## 2.16.1 Country Data

In [15]:
url = 'https://ourworldindata.org/grapher/data/variables/2683.json?v=7'
Get_Data = requests.get(url).json()
#pprint(get_data)
#pprint(Get_Data['variables'])

In [16]:
Country_ID = []
Country_Name = []
Country_Code = []

for E in Get_Data['entityKey']:
    Country_ID.append(E)
    Country_Name.append(Get_Data['entityKey'][E]['name'])
    Country_Code.append(Get_Data['entityKey'][E]['code'])

In [17]:
#print(Country_ID)
len(Country_ID)

258

In [18]:
#print(Country_Code)
len(Country_Code)

258

In [19]:
#print(Country_Name)
len(Country_Name)

258

In [20]:
Country_df = pd.DataFrame({
    'Country_ID'    : Country_ID,
    'Country_Code'  : Country_Code,
    'Country_Name'  : Country_Name
})

In [21]:
Country_df

    Country_ID Country_Code                             Country_Name
0            1          GBR                           United Kingdom
1            2          IRL                                  Ireland
2            3          FRA                                   France
3            4          BEL                                  Belgium
4            5          NLD                              Netherlands
..         ...          ...                                      ...
253      34681         None       Europe & Central Asia (IDA & IBRD)
254      34682         None   Latin America & Caribbean (IDA & IBRD)
255      34683         None  Middle East & North Africa (IDA & IBRD)
256      34684         None          Sub-Saharan Africa (IDA & IBRD)
257      54362         None                     Syrian Arab Republic

[258 rows x 3 columns]

In [22]:
# Export to CSV
Country_df.to_csv("../../02_Data_Output/Share_Population_Usage_Country_df.csv",
                   index=False, 
                   header=True
                  )

## 2.16.2 Values

In [23]:
Country_ID = []
Share_of_The_Population_Using_The_Internet_Country = []
Country_Years = []


IDs      = Get_Data['variables']['2683']['entities'] 
Values   = Get_Data['variables']['2683']['values']
Years    = Get_Data['variables']['2683']['years']
    
    
for I in IDs:
    Country_ID.append(I)

for V in Values:
    Share_of_The_Population_Using_The_Internet_Country.append(V)
    
for Y in Years:
    Country_Years.append(Y)

In [24]:
#print(Country_ID)

In [25]:
Country_Values_df = pd.DataFrame({
    'Country_ID'     : Country_ID,
    'Country_Years'  : Country_Years,
    'Share_of_The_Population_Using_The_Internet_Country'  : Share_of_The_Population_Using_The_Internet_Country
})

In [26]:
Country_Values_df

,Country_ID,Country_Years,Share_of_The_Population_Using_The_Internet_Country
0,36,1960,0.000000
1,41,1960,0.000000
2,206,1960,0.000000
3,211,1960,0.000000
4,54362,1960,0.000000
...,...,...,...
6051,75,2017,52.891929
6052,74,2017,12.360225
6053,71,2017,55.500000
6054,70,2017,64.684618
6055,72,2017,94.819923

In [27]:
# Export to CSV
Country_Values_df.to_csv("../../02_Data_Output/Share_Population_Usage_Values_df.csv",
                   index=False, 
                   header=True
                  )

# 3.URL: https://www.internetworldstats.com/stats1.htm

## 3.1. World

In [28]:
url = 'https://www.internetworldstats.com/stats.htm'
table = pd.read_html(url, header=0)
Internet_Usage_World = table[5]
Internet_Usage_World

,WORLD INTERNET USAGE AND POPULATION STATISTICS2020 Year-Q1 Estimates,WORLD INTERNET USAGE AND POPULATION STATISTICS2020 Year-Q1 Estimates.1,WORLD INTERNET USAGE AND POPULATION STATISTICS2020 Year-Q1 Estimates.2,WORLD INTERNET USAGE AND POPULATION STATISTICS2020 Year-Q1 Estimates.3,WORLD INTERNET USAGE AND POPULATION STATISTICS2020 Year-Q1 Estimates.4,WORLD INTERNET USAGE AND POPULATION STATISTICS2020 Year-Q1 Estimates.5,WORLD INTERNET USAGE AND POPULATION STATISTICS2020 Year-Q1 Estimates.6
0,World Regions,Population ( 2020 Est.),Population % of World,Internet Users 31 May 2020,Penetration Rate (% Pop.),Growth 2000-2020,Internet World %
1,Africa,1340598447,17.2 %,526710313,39.3 %,"11,567 %",11.3 %
2,Asia,4294516659,55.1 %,2366213308,55.1 %,"1,970 %",50.9 %
3,Europe,834995197,10.7 %,727848547,87.2 %,592 %,15.7 %
4,Latin America / Caribbean,658345826,8.5 %,453702292,68.9 %,"2,411 %",10.0 %
5,Middle East,260991690,3.9 %,183212099,70.2 %,"5,477 %",3.3 %
6,North America,368869647,4.7 %,348908868,94.6 %,223 %,7.5 %
7,Oceania / Australia,42690838,0.5 %,28917600,67.7 %,279 %,0.6 %
8,WORLD TOTAL,7796949710,100.0 %,4648228067,59.6 %,"1,187 %",100.0 %
9,NOTES: (1) Internet Usage and World Population...,NOTES: (1) Internet Usage and World Population...,NOTES: (1) Internet Usage and World Population...,NOTES: (1) Internet Usage and World Population...,NOTES: (1) Internet Usage and World Population...,NOTES: (1) Internet Usage and World Population...,NOTES: (1) Internet Usage and World Population...

In [29]:
# Export to CSV
Internet_Usage_World.to_csv("../../02_Data_Output/Internet_Usage_World.csv",
                   index=False, 
                   header=True
                  )

## 3.2. Africa

In [30]:
url = 'https://www.internetworldstats.com/stats1.htm'
table = pd.read_html(url, header=0)
Internet_Usage_Africa = table[5]
Internet_Usage_Africa.head()

,AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS,AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS.1,AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS.2,AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS.3,AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS.4,AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS.5,AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS.6
0,AFRICA,Population (2020 Est.),InternetUsers 31-Dec-2000,InternetUsers 31-DEC-2019,Penetration (% Population),InternetGrowth % 2000 - 2020,Facebook subscribers31-DEC-2019
1,Algeria,43851044,50000,25428159,58.0 %,"50,756 %",19000000
2,Angola,32866272,30000,7078067,21.5 %,"23,493 %",2244000
3,Benin,12123200,15000,3801758,31.4 %,"25,245 %",920000
4,Botswana,2351627,15000,1116079,47.5 %,"6,455 %",830000

In [31]:
# Export to CSV
Internet_Usage_Africa.to_csv("../../02_Data_Output/Internet_Usage_Africa.csv",
                   index=False, 
                   header=True
                  )

## 3.3. Americas

In [32]:
url = 'https://www.internetworldstats.com/stats2.htm'
table = pd.read_html(url, header=0)
Internet_Usage_Americas = table[4]
Internet_Usage_Americas.head()

,"Internet Usage, Facebook Subscribers and Population Statistics for all the Americas World Region Countries March 31, 2020","Internet Usage, Facebook Subscribers and Population Statistics for all the Americas World Region Countries March 31, 2020.1","Internet Usage, Facebook Subscribers and Population Statistics for all the Americas World Region Countries March 31, 2020.2","Internet Usage, Facebook Subscribers and Population Statistics for all the Americas World Region Countries March 31, 2020.3","Internet Usage, Facebook Subscribers and Population Statistics for all the Americas World Region Countries March 31, 2020.4","Internet Usage, Facebook Subscribers and Population Statistics for all the Americas World Region Countries March 31, 2020.5","Internet Usage, Facebook Subscribers and Population Statistics for all the Americas World Region Countries March 31, 2020.6"
0,THE AMERICAS,Population ( 2020 Est. ),Pop. % Table,Internet Usage 31-Mar-2020,% Population (Penetration),Internet % Users,Facebook 29-Feb-2020
1,Anguilla,14909,0.0 %,12557,84.2 %,0.0 %,9000
2,Antigua & Barbuda,103050,0.0 %,81900,79.5 %,0.0 %,62000
3,Argentina,44688864,4.4 %,41586960,93.1 %,5.3 %,30000000
4,Aruba,105670,0.0 %,100000,94.6 %,0.0 %,91000

In [33]:
# Export to CSV
Internet_Usage_Americas.to_csv("../../02_Data_Output/Internet_Usage_Americas.csv",
                   index=False, 
                   header=True
                  )

## 3.4. Asia

In [34]:
url = 'https://www.internetworldstats.com/stats3.htm'
table = pd.read_html(url, header=0)
Internet_Usage_Asia = table[8]
Internet_Usage_Asia.head()

,"ASIA INTERNET USE, POPULATION STATISTICS DATA AND FACEBOOK DATA - JANUARY 31, 2020","ASIA INTERNET USE, POPULATION STATISTICS DATA AND FACEBOOK DATA - JANUARY 31, 2020.1","ASIA INTERNET USE, POPULATION STATISTICS DATA AND FACEBOOK DATA - JANUARY 31, 2020.2","ASIA INTERNET USE, POPULATION STATISTICS DATA AND FACEBOOK DATA - JANUARY 31, 2020.3","ASIA INTERNET USE, POPULATION STATISTICS DATA AND FACEBOOK DATA - JANUARY 31, 2020.4","ASIA INTERNET USE, POPULATION STATISTICS DATA AND FACEBOOK DATA - JANUARY 31, 2020.5","ASIA INTERNET USE, POPULATION STATISTICS DATA AND FACEBOOK DATA - JANUARY 31, 2020.6"
0,ASIA,Population ( 2020 Est.),"Internet Users, (Year 2000)",Internet Users 31-MAY-2020,Penetration % Population,Users % Asia,Facebook 31-MAR-2020
1,Afganistan,38928346,1000,7337489,18.8 %,0.3 %,3848400
2,Armenia,2963243,30000,2126716,71.8 %,0.1 %,1252000
3,Azerbaijan,10139177,12000,7991630,78.8 %,0.3 %,1854000
4,Bangladesh,164689383,100000,96199000,58.4 %,4.2 %,33713000

In [35]:
# Export to CSV
Internet_Usage_Asia.to_csv("../../02_Data_Output/Internet_Usage_Asia.csv",
                   index=False, 
                   header=True
                  )

## 3.5. Europe

In [36]:
url = 'https://www.internetworldstats.com/stats4.htm'
table = pd.read_html(url, header=0)
Internet_Usage_Europe = table[8]
Internet_Usage_Europe.head()

,Internet Stats and Facebook Usage in EuropeJune 2019 Statistics,Internet Stats and Facebook Usage in EuropeJune 2019 Statistics.1,Internet Stats and Facebook Usage in EuropeJune 2019 Statistics.2,Internet Stats and Facebook Usage in EuropeJune 2019 Statistics.3,Internet Stats and Facebook Usage in EuropeJune 2019 Statistics.4,Internet Stats and Facebook Usage in EuropeJune 2019 Statistics.5
0,EUROPE,Population ( 2019 Est. ),"Internet Users, 30-June-2019",Penetration (% Population),Users % in Europe,Facebook 31-Dec-2018
1,Albania,2938428,2160000,73.5 %,0.3 %,1400000
2,Andorra,77072,76242,98.9 %,0.0 %,42000
3,Austria,8766201,7708997,87.9 %,1.1 %,3700000
4,Belarus,9433874,7521628,79.7 %,1.0 %,3850000

In [37]:
# Export to CSV
Internet_Usage_Europe.to_csv("../../02_Data_Output/Internet_Usage_Europe.csv",
                   index=False, 
                   header=True
                  )

## 3.6. European Union

In [38]:
url = 'https://www.internetworldstats.com/stats9.htm'
table = pd.read_html(url, header=0)
Internet_Usage_EuropeanUnion = table[9]
Internet_Usage_EuropeanUnion.head()

,Internet Users in the European Union - 2019,Internet Users in the European Union - 2019.1,Internet Users in the European Union - 2019.2,Internet Users in the European Union - 2019.3,Internet Users in the European Union - 2019.4,Internet Users in the European Union - 2019.5
0,EUROPEAN UNION,Population ( 2019 Est. ),"Internet Users, 30-June-2019",Penetration (% Population),Users % Table,FACEBOOK 31-DEC-2018
1,Austria,8766201,7708997,87.9 %,1.7 %,3700000
2,Belgium,11562784,10857126,93.9 %,2.4 %,6500.000
3,Bulgaria,6988739,4663065,66.7 %,1.0 %,3300000
4,Croatia,4140148,3787838,91.5 %,0.8 %,1800000

In [39]:
# Export to CSV
Internet_Usage_EuropeanUnion.to_csv("../../02_Data_Output/Internet_Usage_EuropeanUnion.csv",
                   index=False, 
                   header=True
                  )

## 3.7. Middle East

In [40]:
url = 'https://www.internetworldstats.com/stats5.htm'
table = pd.read_html(url, header=0)
Internet_Usage_MiddleEast = table[6]
Internet_Usage_MiddleEast.head()

,"Middle East Internet Users, Population and Facebook Statistics 2020","Middle East Internet Users, Population and Facebook Statistics 2020.1","Middle East Internet Users, Population and Facebook Statistics 2020.2","Middle East Internet Users, Population and Facebook Statistics 2020.3","Middle East Internet Users, Population and Facebook Statistics 2020.4","Middle East Internet Users, Population and Facebook Statistics 2020.5","Middle East Internet Users, Population and Facebook Statistics 2020.6"
0,MIDDLE EAST,Population ( 2020 Est. ),"Users, in Dec/2000",Internet Usage 31-Mar-2020,% Population (Penetration),Internet % users,Facebook 31-Mar-2020
1,Bahrain,1701575,40000,1615620,94.9 %,0.9 %,1352500
2,Iran,83992949,250000,67602731,80.5 %,36.9 %,40000000
3,Iraq,40222493,12500,21276000,52.9 %,11.6 %,22030000
4,Israel,8655535,1270000,7002759,80.9 %,3.8 %,5920000

In [41]:
# Export to CSV
Internet_Usage_MiddleEast.to_csv("../../02_Data_Output/Internet_Usage_MiddleEast.csv",
                   index=False, 
                   header=True
                  )

## 3.8. Oceania

In [42]:
url = 'https://www.internetworldstats.com/stats6.htm'
table = pd.read_html(url, header=0)
Internet_Usage_Oceania = table[7]
Internet_Usage_Oceania.head()

,Internet Usage and Population Statistics for Oceania - 2019,Internet Usage and Population Statistics for Oceania - 2019.1,Internet Usage and Population Statistics for Oceania - 2019.2,Internet Usage and Population Statistics for Oceania - 2019.3,Internet Usage and Population Statistics for Oceania - 2019.4,Internet Usage and Population Statistics for Oceania - 2019.5,Internet Usage and Population Statistics for Oceania - 2019.6
0,OCEANIA,Population (2019 Est.),"Users, in Dec/2000","Internet Usage, 30-June-2019",% Population (Penetration),Internet % users,Facebook 31-Dec-2018
1,American Samoa,55727,NaN,24000,43.1 %,0.1 %,22000
2,Antarctica,2700,NaN,4400,100.0 %,0.0 %,1800
3,Australia,25088636,6600000,21711706,86.5 %,75.8 %,15000000
4,"Australia, Ext. Terr.",1651,NaN,NaN,NaN,NaN,NaN

In [43]:
# Export to CSV
Internet_Usage_Oceania.to_csv("../../02_Data_Output/Internet_Usage_Oceania.csv",
                   index=False, 
                   header=True
                  )

# 4. URL: http://api.worldbank.org/v2/

In [44]:
# Dependencies
import pandas as pd
from pandas import DataFrame
import requests
import json
from pandas.io.json import json_normalize

url = "http://api.worldbank.org/v2/"
format = "json"

# Get country information in JSON format
countries_response = requests.get(f"{url}country/?per_page=304&format={format}").json()
#http://api.worldbank.org/countries/?per_page=300&format=json

# First element is general information, second is countries themselves
countries = countries_response[1]

In [45]:
print (countries[0])

{'id': 'ABW', 'iso2Code': 'AW', 'name': 'Aruba', 'region': {'id': 'LCN', 'iso2code': 'ZJ', 'value': 'Latin America & Caribbean '}, 'adminregion': {'id': '', 'iso2code': '', 'value': ''}, 'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'}, 'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'}, 'capitalCity': 'Oranjestad', 'longitude': '-70.0167', 'latitude': '12.5167'}

In [46]:
# Report the names
# Name, Region, Income Level, Capital City, Longitude, Latitude

#for country in countries:
    #print(country["name"]) 
    #print(country["region"]["value"])

In [47]:
Lat_Long_Coordinates_df = DataFrame(countries)
Lat_Long_Coordinates_df

,id,iso2Code,name,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
0,ABW,AW,Aruba,"{'id': 'LCN', 'iso2code': 'ZJ', 'value': 'Lati...","{'id': '', 'iso2code': '', 'value': ''}","{'id': 'HIC', 'iso2code': 'XD', 'value': 'High...","{'id': 'LNX', 'iso2code': 'XX', 'value': 'Not ...",Oranjestad,-70.0167,12.5167
1,AFG,AF,Afghanistan,"{'id': 'SAS', 'iso2code': '8S', 'value': 'Sout...","{'id': 'SAS', 'iso2code': '8S', 'value': 'Sout...","{'id': 'LIC', 'iso2code': 'XM', 'value': 'Low ...","{'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'}",Kabul,69.1761,34.5228
2,AFR,A9,Africa,"{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': ''}","{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': 'Aggregates'}",,,
3,AGO,AO,Angola,"{'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-...","{'id': 'SSA', 'iso2code': 'ZF', 'value': 'Sub-...","{'id': 'LMC', 'iso2code': 'XN', 'value': 'Lowe...","{'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'}",Luanda,13.242,-8.81155
4,ALB,AL,Albania,"{'id': 'ECS', 'iso2code': 'Z7', 'value': 'Euro...","{'id': 'ECA', 'iso2code': '7E', 'value': 'Euro...","{'id': 'UMC', 'iso2code': 'XT', 'value': 'Uppe...","{'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'}",Tirane,19.8172,41.3317
...,...,...,...,...,...,...,...,...,...,...
299,XZN,A5,Sub-Saharan Africa excluding South Africa and ...,"{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': ''}","{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': 'Aggregates'}",,,
300,YEM,YE,"Yemen, Rep.","{'id': 'MEA', 'iso2code': 'ZQ', 'value': 'Midd...","{'id': 'MNA', 'iso2code': 'XQ', 'value': 'Midd...","{'id': 'LIC', 'iso2code': 'XM', 'value': 'Low ...","{'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'}",Sana'a,44.2075,15.352
301,ZAF,ZA,South Africa,"{'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-...","{'id': 'SSA', 'iso2code': 'ZF', 'value': 'Sub-...","{'id': 'UMC', 'iso2code': 'XT', 'value': 'Uppe...","{'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'}",Pretoria,28.1871,-25.746
302,ZMB,ZM,Zambia,"{'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-...","{'id': 'SSA', 'iso2code': 'ZF', 'value': 'Sub-...","{'id': 'LMC', 'iso2code': 'XN', 'value': 'Lowe...","{'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'}",Lusaka,28.2937,-15.3982
303,ZWE,ZW,Zimbabwe,"{'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-...","{'id': 'SSA', 'iso2code': 'ZF', 'value': 'Sub-...","{'id': 'LMC', 'iso2code': 'XN', 'value': 'Lowe...","{'id': 'IDB', 'iso2code': 'XH', 'value': 'Blend'}",Harare,31.0672,-17.8312

In [48]:
# Export to CSV
Lat_Long_Coordinates_df.to_csv("../../02_Data_Output/Lat_Long_Coordinates.csv",
                   index=False, 
                   header=True
                  )

# 5. URL: https://data.worldbank.org/indicator/IT.NET.USER.ZS

In [49]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

url='http://api.worldbank.org/v2/en/indicator/IT.NET.USER.ZS?downloadformat=excel'
browser.visit(url)

# 6 URL: https://thewebindex.org/downloads/

## 6.1 Click button

In [50]:
#from selenium import webdriver
#from selenium.webdriver.chrome.options import Options

#options = webdriver.ChromeOptions() 
#options.add_argument("download.default_directory= ../../02_Data_Output/newfile.xls")
#driver = webdriver.Chrome(chrome_options=options)

#url='https://thewebindex.org/downloads/'
#driver.get(url)

#driver.click_link_by_partial_text('XLS')

In [51]:
url='https://thewebindex.org/downloads/'
browser.visit(url)

browser.click_link_by_partial_text('XLS')

C:\Users\LKNT\anaconda3\envs\LKNT\lib\site-packages\splinter\driver\webdriver\__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

# 7. URL: https://www.comparethemarket.com/broadband/content/global-broadband-index/

## 7.1 Html Scraping

In [52]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

url='https://www.comparethemarket.com/broadband/content/global-broadband-index/'
browser.visit(url)

In [53]:
raw_data_html = browser.find_by_id('rows').html
#print(raw_data_html)

In [54]:
raw_data_text = browser.find_by_id('rows').text
#print(type(raw_data_text))
print(raw_data_text)

Country Avg. Monthly Cost Avg. Download Speed Avg. Upload Speed Time to Download One Hour of Netflix
Singapore £39.84 185.25 Mbps 192.08 Mbps 16 seconds
Iceland £60.56 153.3 Mbps 155.46 Mbps 20 seconds
South Korea £25.51 114.31 Mbps 90.2 Mbps 26 seconds
Hungary £14.51 108.78 Mbps 44.44 Mbps 28 seconds
United States £53.48 107.28 Mbps 37.11 Mbps 28 seconds
Sweden £44.23 106.76 Mbps 72.98 Mbps 28 seconds
Spain £33.48 105.03 Mbps 87.51 Mbps 29 seconds
Switzerland £63.20 104.2 Mbps 65.37 Mbps 29 seconds
Luxembourg £56.21 101.48 Mbps 65.5 Mbps 30 seconds
Norway £58.40 98.72 Mbps 75.67 Mbps 30 seconds
France £24.60 96.14 Mbps 49.05 Mbps 31 seconds
Denmark £40.38 91.27 Mbps 67.11 Mbps 33 seconds
Canada £45.55 91.05 Mbps 38.57 Mbps 33 seconds
Japan £29.35 88.97 Mbps 97.52 Mbps 34 seconds
Netherlands £46.79 86.14 Mbps 41.77 Mbps 35 seconds
New Zealand £46.43 83.96 Mbps 47.63 Mbps 36 seconds
Portugal £48.31 73.65 Mbps 39.67 Mbps 41 seconds
Lithuania £13.30 71.37 Mbps 63.07 Mbps 42 seconds
Barbados £88.37 70.37 Mbps 38.45 Mbps 43 seconds
Israel £10.29 69.24 Mbps 15.44 Mbps 43 seconds
Germany £28.98 65.19 Mbps 15.8 Mbps 46 seconds
Belgium £36.09 63.85 Mbps 13.59 Mbps 47 seconds
Malta £42.42 62 Mbps 11.09 Mbps 48 seconds
Taiwan £20.85 61.86 Mbps 37.71 Mbps 48 seconds
Ireland £51.44 56.43 Mbps 19.67 Mbps 53 seconds
Poland £14.43 55.36 Mbps 20.47 Mbps 54 seconds
United Kingdom £31.27 55.14 Mbps 12.72 Mbps 54 seconds
Chile £35.95 54.77 Mbps 12.69 Mbps 55 seconds
Latvia £14.76 52.91 Mbps 51.18 Mbps 57 seconds
Finland £41.26 51.6 Mbps 23.05 Mbps 58 seconds
Slovakia £17.08 50.66 Mbps 18.44 Mbps 59 seconds
Estonia £21.83 47.94 Mbps 32.97 Mbps 1 minute, 3 seconds
Slovenia £25.06 45.53 Mbps 15.55 Mbps 1 minute, 6 seconds
Panama £85.62 45.45 Mbps 8.96 Mbps 1 minute, 6 seconds
Czech Republic £20.49 44.6 Mbps 23.6 Mbps 1 minute, 7 seconds
Italy £23.29 42.79 Mbps 15.37 Mbps 1 minute, 10 seconds
Trinidad and Tobago £48.01 42.5 Mbps 23.15 Mbps 1 minute, 11 seconds
United Arab Emirates £124.11 38.16 Mbps 13.56 Mbps 1 minute, 19 seconds
Austria £40.05 37.43 Mbps 11.7 Mbps 1 minute, 20 seconds
Uruguay £36.74 35.32 Mbps 9.93 Mbps 1 minute, 25 seconds
Qatar £111.06 33.98 Mbps 18.62 Mbps 1 minute, 28 seconds
Australia £41.69 32.96 Mbps 12.81 Mbps 1 minute, 31 seconds
Saudi Arabia £75.62 29.83 Mbps 12.55 Mbps 1 minute, 41 seconds
Croatia £21.12 29.19 Mbps 12.65 Mbps 1 minute, 43 seconds
Bahamas £57.49 28.5 Mbps 10.59 Mbps 1 minute, 45 seconds
Mexico £26.32 24.84 Mbps 10.08 Mbps 2 minutes, 1 second
Argentina £12.25 24.14 Mbps 5.63 Mbps 2 minutes, 4 seconds
Cyprus £41.88 22.96 Mbps 5.45 Mbps 2 minutes, 11 seconds
Oman £119.00 22.05 Mbps 6.91 Mbps 2 minutes, 16 seconds
Kuwait £43.13 21.76 Mbps 18.55 Mbps 2 minutes, 18 seconds
Greece £45.99 19.86 Mbps 13.84 Mbps 2 minutes, 31 seconds
Turkey £12.61 18.76 Mbps 5.52 Mbps 2 minutes, 40 seconds
Bahrain £76.07 18.32 Mbps 6.07 Mbps 2 minutes, 44 seconds
Brunei £97.40 15.15 Mbps 10.36 Mbps 3 minutes, 18 seconds

In [55]:
Cost_Speed_By_Country = raw_data_text.splitlines()

In [56]:
Cost_Speed_By_Country

['Country Avg. Monthly Cost Avg. Download Speed Avg. Upload Speed Time to Download One Hour of Netflix',
 'Singapore £39.84 185.25 Mbps 192.08 Mbps 16 seconds',
 'Iceland £60.56 153.3 Mbps 155.46 Mbps 20 seconds',
 'South Korea £25.51 114.31 Mbps 90.2 Mbps 26 seconds',
 'Hungary £14.51 108.78 Mbps 44.44 Mbps 28 seconds',
 'United States £53.48 107.28 Mbps 37.11 Mbps 28 seconds',
 'Sweden £44.23 106.76 Mbps 72.98 Mbps 28 seconds',
 'Spain £33.48 105.03 Mbps 87.51 Mbps 29 seconds',
 'Switzerland £63.20 104.2 Mbps 65.37 Mbps 29 seconds',
 'Luxembourg £56.21 101.48 Mbps 65.5 Mbps 30 seconds',
 'Norway £58.40 98.72 Mbps 75.67 Mbps 30 seconds',
 'France £24.60 96.14 Mbps 49.05 Mbps 31 seconds',
 'Denmark £40.38 91.27 Mbps 67.11 Mbps 33 seconds',
 'Canada £45.55 91.05 Mbps 38.57 Mbps 33 seconds',
 'Japan £29.35 88.97 Mbps 97.52 Mbps 34 seconds',
 'Netherlands £46.79 86.14 Mbps 41.77 Mbps 35 seconds',
 'New Zealand £46.43 83.96 Mbps 47.63 Mbps 36 seconds',
 'Portugal £48.31 73.65 Mbps 39.67 Mbps 41 seconds',
 'Lithuania £13.30 71.37 Mbps 63.07 Mbps 42 seconds',
 'Barbados £88.37 70.37 Mbps 38.45 Mbps 43 seconds',
 'Israel £10.29 69.24 Mbps 15.44 Mbps 43 seconds',
 'Germany £28.98 65.19 Mbps 15.8 Mbps 46 seconds',
 'Belgium £36.09 63.85 Mbps 13.59 Mbps 47 seconds',
 'Malta £42.42 62 Mbps 11.09 Mbps 48 seconds',
 'Taiwan £20.85 61.86 Mbps 37.71 Mbps 48 seconds',
 'Ireland £51.44 56.43 Mbps 19.67 Mbps 53 seconds',
 'Poland £14.43 55.36 Mbps 20.47 Mbps 54 seconds',
 'United Kingdom £31.27 55.14 Mbps 12.72 Mbps 54 seconds',
 'Chile £35.95 54.77 Mbps 12.69 Mbps 55 seconds',
 'Latvia £14.76 52.91 Mbps 51.18 Mbps 57 seconds',
 'Finland £41.26 51.6 Mbps 23.05 Mbps 58 seconds',
 'Slovakia £17.08 50.66 Mbps 18.44 Mbps 59 seconds',
 'Estonia £21.83 47.94 Mbps 32.97 Mbps 1 minute, 3 seconds',
 'Slovenia £25.06 45.53 Mbps 15.55 Mbps 1 minute, 6 seconds',
 'Panama £85.62 45.45 Mbps 8.96 Mbps 1 minute, 6 seconds',
 'Czech Republic £20.49 44.6 Mbps 23.6 Mbps 1 minute, 7 seconds',
 'Italy £23.29 42.79 Mbps 15.37 Mbps 1 minute, 10 seconds',
 'Trinidad and Tobago £48.01 42.5 Mbps 23.15 Mbps 1 minute, 11 seconds',
 'United Arab Emirates £124.11 38.16 Mbps 13.56 Mbps 1 minute, 19 seconds',
 'Austria £40.05 37.43 Mbps 11.7 Mbps 1 minute, 20 seconds',
 'Uruguay £36.74 35.32 Mbps 9.93 Mbps 1 minute, 25 seconds',
 'Qatar £111.06 33.98 Mbps 18.62 Mbps 1 minute, 28 seconds',
 'Australia £41.69 32.96 Mbps 12.81 Mbps 1 minute, 31 seconds',
 'Saudi Arabia £75.62 29.83 Mbps 12.55 Mbps 1 minute, 41 seconds',
 'Croatia £21.12 29.19 Mbps 12.65 Mbps 1 minute, 43 seconds',
 'Bahamas £57.49 28.5 Mbps 10.59 Mbps 1 minute, 45 seconds',
 'Mexico £26.32 24.84 Mbps 10.08 Mbps 2 minutes, 1 second',
 'Argentina £12.25 24.14 Mbps 5.63 Mbps 2 minutes, 4 seconds',
 'Cyprus £41.88 22.96 Mbps 5.45 Mbps 2 minutes, 11 seconds',
 'Oman £119.00 22.05 Mbps 6.91 Mbps 2 minutes, 16 seconds',
 'Kuwait £43.13 21.76 Mbps 18.55 Mbps 2 minutes, 18 seconds',
 'Greece £45.99 19.86 Mbps 13.84 Mbps 2 minutes, 31 seconds',
 'Turkey £12.61 18.76 Mbps 5.52 Mbps 2 minutes, 40 seconds',
 'Bahrain £76.07 18.32 Mbps 6.07 Mbps 2 minutes, 44 seconds',
 'Brunei £97.40 15.15 Mbps 10.36 Mbps 3 minutes, 18 seconds']

In [57]:
Cost_Speed_By_Country_df = pd.DataFrame({
    'Cost_Speed_By_Country' : Cost_Speed_By_Country
})

In [58]:
Cost_Speed_By_Country_df

                                Cost_Speed_By_Country
0   Country Avg. Monthly Cost Avg. Download Speed ...
1   Singapore £39.84 185.25 Mbps 192.08 Mbps 16 se...
2    Iceland £60.56 153.3 Mbps 155.46 Mbps 20 seconds
3   South Korea £25.51 114.31 Mbps 90.2 Mbps 26 se...
4    Hungary £14.51 108.78 Mbps 44.44 Mbps 28 seconds
5   United States £53.48 107.28 Mbps 37.11 Mbps 28...
6     Sweden £44.23 106.76 Mbps 72.98 Mbps 28 seconds
7      Spain £33.48 105.03 Mbps 87.51 Mbps 29 seconds
8   Switzerland £63.20 104.2 Mbps 65.37 Mbps 29 se...
9   Luxembourg £56.21 101.48 Mbps 65.5 Mbps 30 sec...
10     Norway £58.40 98.72 Mbps 75.67 Mbps 30 seconds
11     France £24.60 96.14 Mbps 49.05 Mbps 31 seconds
12    Denmark £40.38 91.27 Mbps 67.11 Mbps 33 seconds
13     Canada £45.55 91.05 Mbps 38.57 Mbps 33 seconds
14      Japan £29.35 88.97 Mbps 97.52 Mbps 34 seconds
15  Netherlands £46.79 86.14 Mbps 41.77 Mbps 35 se...
16  New Zealand £46.43 83.96 Mbps 47.63 Mbps 36 se...
17   Portugal £48.31 73.65 Mbps 39.67 Mbps 41 seconds
18  Lithuania £13.30 71.37 Mbps 63.07 Mbps 42 seconds
19   Barbados £88.37 70.37 Mbps 38.45 Mbps 43 seconds
20     Israel £10.29 69.24 Mbps 15.44 Mbps 43 seconds
21     Germany £28.98 65.19 Mbps 15.8 Mbps 46 seconds
22    Belgium £36.09 63.85 Mbps 13.59 Mbps 47 seconds
23         Malta £42.42 62 Mbps 11.09 Mbps 48 seconds
24     Taiwan £20.85 61.86 Mbps 37.71 Mbps 48 seconds
25    Ireland £51.44 56.43 Mbps 19.67 Mbps 53 seconds
26     Poland £14.43 55.36 Mbps 20.47 Mbps 54 seconds
27  United Kingdom £31.27 55.14 Mbps 12.72 Mbps 54...
28      Chile £35.95 54.77 Mbps 12.69 Mbps 55 seconds
29     Latvia £14.76 52.91 Mbps 51.18 Mbps 57 seconds
30     Finland £41.26 51.6 Mbps 23.05 Mbps 58 seconds
31   Slovakia £17.08 50.66 Mbps 18.44 Mbps 59 seconds
32  Estonia £21.83 47.94 Mbps 32.97 Mbps 1 minute,...
33  Slovenia £25.06 45.53 Mbps 15.55 Mbps 1 minute...
34  Panama £85.62 45.45 Mbps 8.96 Mbps 1 minute, 6...
35  Czech Republic £20.49 44.6 Mbps 23.6 Mbps 1 mi...
36  Italy £23.29 42.79 Mbps 15.37 Mbps 1 minute, 1...
37  Trinidad and Tobago £48.01 42.5 Mbps 23.15 Mbp...
38  United Arab Emirates £124.11 38.16 Mbps 13.56 ...
39  Austria £40.05 37.43 Mbps 11.7 Mbps 1 minute, ...
40  Uruguay £36.74 35.32 Mbps 9.93 Mbps 1 minute, ...
41  Qatar £111.06 33.98 Mbps 18.62 Mbps 1 minute, ...
42  Australia £41.69 32.96 Mbps 12.81 Mbps 1 minut...
43  Saudi Arabia £75.62 29.83 Mbps 12.55 Mbps 1 mi...
44  Croatia £21.12 29.19 Mbps 12.65 Mbps 1 minute,...
45  Bahamas £57.49 28.5 Mbps 10.59 Mbps 1 minute, ...
46  Mexico £26.32 24.84 Mbps 10.08 Mbps 2 minutes,...
47  Argentina £12.25 24.14 Mbps 5.63 Mbps 2 minute...
48  Cyprus £41.88 22.96 Mbps 5.45 Mbps 2 minutes, ...
49  Oman £119.00 22.05 Mbps 6.91 Mbps 2 minutes, 1...
50  Kuwait £43.13 21.76 Mbps 18.55 Mbps 2 minutes,...
51  Greece £45.99 19.86 Mbps 13.84 Mbps 2 minutes,...
52  Turkey £12.61 18.76 Mbps 5.52 Mbps 2 minutes, ...
53  Bahrain £76.07 18.32 Mbps 6.07 Mbps 2 minutes,...
54  Brunei £97.40 15.15 Mbps 10.36 Mbps 3 minutes,...

In [59]:
Cost_Speed_By_Country_Slpit_df1 = Cost_Speed_By_Country_df['Cost_Speed_By_Country'].str.split(' ', expand=True)
Cost_Speed_By_Country_Slpit_df1

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,Country,Avg.,Monthly,Cost,Avg.,Download,Speed,Avg.,Upload,Speed,Time,to,Download,One,Hour,of,Netflix
1,Singapore,£39.84,185.25,Mbps,192.08,Mbps,16,seconds,None,None,None,None,None,None,None,None,None
2,Iceland,£60.56,153.3,Mbps,155.46,Mbps,20,seconds,None,None,None,None,None,None,None,None,None
3,South,Korea,£25.51,114.31,Mbps,90.2,Mbps,26,seconds,None,None,None,None,None,None,None,None
4,Hungary,£14.51,108.78,Mbps,44.44,Mbps,28,seconds,None,None,None,None,None,None,None,None,None
5,United,States,£53.48,107.28,Mbps,37.11,Mbps,28,seconds,None,None,None,None,None,None,None,None
6,Sweden,£44.23,106.76,Mbps,72.98,Mbps,28,seconds,None,None,None,None,None,None,None,None,None
7,Spain,£33.48,105.03,Mbps,87.51,Mbps,29,seconds,None,None,None,None,None,None,None,None,None
8,Switzerland,£63.20,104.2,Mbps,65.37,Mbps,29,seconds,None,None,None,None,None,None,None,None,None
9,Luxembourg,£56.21,101.48,Mbps,65.5,Mbps,30,seconds,None,None,None,None,None,None,None,None,None
10,Norway,£58.40,98.72,Mbps,75.67,Mbps,30,seconds,None,None,None,None,None,None,None,None,None
11,France,£24.60,96.14,Mbps,49.05,Mbps,31,seconds,None,None,None,None,None,None,None,None,None
12,Denmark,£40.38,91.27,Mbps,67.11,Mbps,33,seconds,None,None,None,None,None,None,None,None,None
13,Canada,£45.55,91.05,Mbps,38.57,Mbps,33,seconds,None,None,None,None,None,None,None,None,None
14,Japan,£29.35,88.97,Mbps,97.52,Mbps,34,seconds,None,None,None,None,None,None,None,None,None
15,Netherlands,£46.79,86.14,Mbps,41.77,Mbps,35,seconds,None,None,None,None,None,None,None,None,None
16,New,Zealand,£46.43,83.96,Mbps,47.63,Mbps,36,seconds,None,None,None,None,None,None,None,None
17,Portugal,£48.31,73.65,Mbps,39.67,Mbps,41,seconds,None,None,None,None,None,None,None,None,None
18,Lithuania,£13.30,71.37,Mbps,63.07,Mbps,42,seconds,None,None,None,None,None,None,None,None,None
19,Barbados,£88.37,70.37,Mbps,38.45,Mbps,43,seconds,None,None,None,None,None,None,None,None,None
20,Israel,£10.29,69.24,Mbps,15.44,Mbps,43,seconds,None,None,None,None,None,None,None,None,None
21,Germany,£28.98,65.19,Mbps,15.8,Mbps,46,seconds,None,None,None,None,None,None,None,None,None
22,Belgium,£36.09,63.85,Mbps,13.59,Mbps,47,seconds,None,None,None,None,None,None,None,None,None
23,Malta,£42.42,62,Mbps,11.09,Mbps,48,seconds,None,None,None,None,None,None,None,None,None
24,Taiwan,£20.85,61.86,Mbps,37.71,Mbps,48,seconds,None,None,None,None,None,None,None,None,None
25,Ireland,£51.44,56.43,Mbps,19.67,Mbps,53,seconds,None,None,None,None,None,None,None,None,None
26,Poland,£14.43,55.36,Mbps,20.47,Mbps,54,seconds,None,None,None,None,None,None,None,None,None
27,United,Kingdom,£31.27,55.14,Mbps,12.72,Mbps,54,seconds,None,None,None,None,None,None,None,None
28,Chile,£35.95,54.77,Mbps,12.69,Mbps,55,seconds,None,None,None,None,None,None,None,None,None
29,Latvia,£14.76,52.91,Mbps,51.18,Mbps,57,seconds,None,None,None,None,None,None,None,None,None
30,Finland,£41.26,51.6,Mbps,23.05,Mbps,58,seconds,None,None,None,None,None,None,None,None,None
31,Slovakia,£17.08,50.66,Mbps,18.44,Mbps,59,seconds,None,None,None,None,None,None,None,None,None
32,Estonia,£21.83,47.94,Mbps,32.97,Mbps,1,"minute,",3,seconds,None,None,None,None,None,None,None
33,Slovenia,£25.06,45.53,Mbps,15.55,Mbps,1,"minute,",6,seconds,None,None,None,None,None,None,None
34,Panama,£85.62,45.45,Mbps,8.96,Mbps,1,"minute,",6,seconds,None,None,None,None,None,None,None
35,Czech,Republic,£20.49,44.6,Mbps,23.6,Mbps,1,"minute,",7,seconds,None,None,None,None,None,None
36,Italy,£23.29,42.79,Mbps,15.37,Mbps,1,"minute,",10,seconds,None,None,None,None,None,None,None
37,Trinidad,and,Tobago,£48.01,42.5,Mbps,23.15,Mbps,1,"minute,",11,seconds,None,None,None,None,None
38,United,Arab,Emirates,£124.11,38.16,Mbps,13.56,Mbps,1,"minute,",19,seconds,None,None,None,None,None
39,Austria,£40.05,37.43,Mbps,11.7,Mbps,1,"minute,",20,seconds,None,None,None,None,None,None,None
40,Uruguay,£36.74,35.32,Mbps,9.93,Mbps,1,"minute,",25,seconds,None,None,None,None,None,None,None
41,Qatar,£111.06,33.98,Mbps,18.62,Mbps,1,"minute,",28,seconds,None,None,None,None,None,None,None
42,Australia,£41.69,32.96,Mbps,12.81,Mbps,1,"minute,",31,seconds,None,None,None,None,None,None,None
43,Saudi,Arabia,£75.62,29.83,Mbps,12.55,Mbps,1,"minute,",41,seconds,None,None,None,None,None,None
44,Croatia,£21.12,29.19,Mbps,12.65,Mbps,1,"minute,",43,seconds,None,None,None,None,None,None,None
45,Bahamas,£57.49,28.5,Mbps,10.59,Mbps,1,"minute,",45,seconds,None,None,None,None,None,None,None
46,Mexico,£26.32,24.84,Mbps,10.08,Mbps,2,"minutes,",1,second,None,None,None,None,None,None,None
47,Argentina,£12.25,24.14,Mbps,5.63,Mbps,2,"minutes,",4,seconds,None,None,None,None,None,None,None
48,Cyprus,£41.88,22.96,Mbps,5.45,Mbps,2,"minutes,",11,seconds,None,None,None,None,None,None,None
49,Oman,£119.00,22.05,Mbps,6.91,Mbps,2,"minutes,",16,seconds,None,None,None,None,None,None,None
50,Kuwait,£43.13,21.76,Mbps,18.55,Mbps,2,"minutes,",18,seconds,None,None,None,None,None,None,None
51,Greece,£45.99,19.86,Mbps,13.84,Mbps,2,"minutes,",31,seconds,None,None,None,None,None,None,None
52,Turkey,£12.61,18.76,Mbps,5.52,Mbps,2,"minutes,",40,seconds,None,None,None,None,None,None,None
53,Bahrain,£76.07,18.32,Mbps,6.07,Mbps,2,"minutes,",44,seconds,None,None,None,None,None,None,None
54,Brunei,£97.40,15.15,Mbps,10.36,Mbps,3,"minutes,",18,seconds,None,None,None,None,None,None,None

In [60]:
Cost_Speed_By_Country_Slpit_df1.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
dtype: object

In [61]:
Cost_Speed_By_Country_Slpit_Renamed_df1 = Cost_Speed_By_Country_Slpit_df1.rename(columns={0 : 'Col 1',
                                                                                          1 : 'Col 2',
                                                                                          2 : 'Col 3',
                                                                                          3 : 'Col 4',
                                                                                          4 : 'Col 5',
                                                                                          5 : 'Col 6', 
                                                                                          6 : 'Col 7', 
                                                                                          7 : 'Col 8', 
                                                                                          8 : 'Col 9', 
                                                                                          9 : 'Col 10', 
                                                                                          10 : 'Col 11', 
                                                                                          11 : 'Col 12', 
                                                                                          12 : 'Col 13', 
                                                                                          13 : 'Col 14', 
                                                                                          14 : 'Col 15', 
                                                                                          15 : 'Col 16', 
                                                                                          16 : 'Col 17'
                                                                                         } 
                                                                                )

In [62]:
Cost_Speed_By_Country_Slpit_Renamed_df1

,Col 1,Col 2,Col 3,Col 4,Col 5,Col 6,Col 7,Col 8,Col 9,Col 10,Col 11,Col 12,Col 13,Col 14,Col 15,Col 16,Col 17
0,Country,Avg.,Monthly,Cost,Avg.,Download,Speed,Avg.,Upload,Speed,Time,to,Download,One,Hour,of,Netflix
1,Singapore,£39.84,185.25,Mbps,192.08,Mbps,16,seconds,None,None,None,None,None,None,None,None,None
2,Iceland,£60.56,153.3,Mbps,155.46,Mbps,20,seconds,None,None,None,None,None,None,None,None,None
3,South,Korea,£25.51,114.31,Mbps,90.2,Mbps,26,seconds,None,None,None,None,None,None,None,None
4,Hungary,£14.51,108.78,Mbps,44.44,Mbps,28,seconds,None,None,None,None,None,None,None,None,None
5,United,States,£53.48,107.28,Mbps,37.11,Mbps,28,seconds,None,None,None,None,None,None,None,None
6,Sweden,£44.23,106.76,Mbps,72.98,Mbps,28,seconds,None,None,None,None,None,None,None,None,None
7,Spain,£33.48,105.03,Mbps,87.51,Mbps,29,seconds,None,None,None,None,None,None,None,None,None
8,Switzerland,£63.20,104.2,Mbps,65.37,Mbps,29,seconds,None,None,None,None,None,None,None,None,None
9,Luxembourg,£56.21,101.48,Mbps,65.5,Mbps,30,seconds,None,None,None,None,None,None,None,None,None
10,Norway,£58.40,98.72,Mbps,75.67,Mbps,30,seconds,None,None,None,None,None,None,None,None,None
11,France,£24.60,96.14,Mbps,49.05,Mbps,31,seconds,None,None,None,None,None,None,None,None,None
12,Denmark,£40.38,91.27,Mbps,67.11,Mbps,33,seconds,None,None,None,None,None,None,None,None,None
13,Canada,£45.55,91.05,Mbps,38.57,Mbps,33,seconds,None,None,None,None,None,None,None,None,None
14,Japan,£29.35,88.97,Mbps,97.52,Mbps,34,seconds,None,None,None,None,None,None,None,None,None
15,Netherlands,£46.79,86.14,Mbps,41.77,Mbps,35,seconds,None,None,None,None,None,None,None,None,None
16,New,Zealand,£46.43,83.96,Mbps,47.63,Mbps,36,seconds,None,None,None,None,None,None,None,None
17,Portugal,£48.31,73.65,Mbps,39.67,Mbps,41,seconds,None,None,None,None,None,None,None,None,None
18,Lithuania,£13.30,71.37,Mbps,63.07,Mbps,42,seconds,None,None,None,None,None,None,None,None,None
19,Barbados,£88.37,70.37,Mbps,38.45,Mbps,43,seconds,None,None,None,None,None,None,None,None,None
20,Israel,£10.29,69.24,Mbps,15.44,Mbps,43,seconds,None,None,None,None,None,None,None,None,None
21,Germany,£28.98,65.19,Mbps,15.8,Mbps,46,seconds,None,None,None,None,None,None,None,None,None
22,Belgium,£36.09,63.85,Mbps,13.59,Mbps,47,seconds,None,None,None,None,None,None,None,None,None
23,Malta,£42.42,62,Mbps,11.09,Mbps,48,seconds,None,None,None,None,None,None,None,None,None
24,Taiwan,£20.85,61.86,Mbps,37.71,Mbps,48,seconds,None,None,None,None,None,None,None,None,None
25,Ireland,£51.44,56.43,Mbps,19.67,Mbps,53,seconds,None,None,None,None,None,None,None,None,None
26,Poland,£14.43,55.36,Mbps,20.47,Mbps,54,seconds,None,None,None,None,None,None,None,None,None
27,United,Kingdom,£31.27,55.14,Mbps,12.72,Mbps,54,seconds,None,None,None,None,None,None,None,None
28,Chile,£35.95,54.77,Mbps,12.69,Mbps,55,seconds,None,None,None,None,None,None,None,None,None
29,Latvia,£14.76,52.91,Mbps,51.18,Mbps,57,seconds,None,None,None,None,None,None,None,None,None
30,Finland,£41.26,51.6,Mbps,23.05,Mbps,58,seconds,None,None,None,None,None,None,None,None,None
31,Slovakia,£17.08,50.66,Mbps,18.44,Mbps,59,seconds,None,None,None,None,None,None,None,None,None
32,Estonia,£21.83,47.94,Mbps,32.97,Mbps,1,"minute,",3,seconds,None,None,None,None,None,None,None
33,Slovenia,£25.06,45.53,Mbps,15.55,Mbps,1,"minute,",6,seconds,None,None,None,None,None,None,None
34,Panama,£85.62,45.45,Mbps,8.96,Mbps,1,"minute,",6,seconds,None,None,None,None,None,None,None
35,Czech,Republic,£20.49,44.6,Mbps,23.6,Mbps,1,"minute,",7,seconds,None,None,None,None,None,None
36,Italy,£23.29,42.79,Mbps,15.37,Mbps,1,"minute,",10,seconds,None,None,None,None,None,None,None
37,Trinidad,and,Tobago,£48.01,42.5,Mbps,23.15,Mbps,1,"minute,",11,seconds,None,None,None,None,None
38,United,Arab,Emirates,£124.11,38.16,Mbps,13.56,Mbps,1,"minute,",19,seconds,None,None,None,None,None
39,Austria,£40.05,37.43,Mbps,11.7,Mbps,1,"minute,",20,seconds,None,None,None,None,None,None,None
40,Uruguay,£36.74,35.32,Mbps,9.93,Mbps,1,"minute,",25,seconds,None,None,None,None,None,None,None
41,Qatar,£111.06,33.98,Mbps,18.62,Mbps,1,"minute,",28,seconds,None,None,None,None,None,None,None
42,Australia,£41.69,32.96,Mbps,12.81,Mbps,1,"minute,",31,seconds,None,None,None,None,None,None,None
43,Saudi,Arabia,£75.62,29.83,Mbps,12.55,Mbps,1,"minute,",41,seconds,None,None,None,None,None,None
44,Croatia,£21.12,29.19,Mbps,12.65,Mbps,1,"minute,",43,seconds,None,None,None,None,None,None,None
45,Bahamas,£57.49,28.5,Mbps,10.59,Mbps,1,"minute,",45,seconds,None,None,None,None,None,None,None
46,Mexico,£26.32,24.84,Mbps,10.08,Mbps,2,"minutes,",1,second,None,None,None,None,None,None,None
47,Argentina,£12.25,24.14,Mbps,5.63,Mbps,2,"minutes,",4,seconds,None,None,None,None,None,None,None
48,Cyprus,£41.88,22.96,Mbps,5.45,Mbps,2,"minutes,",11,seconds,None,None,None,None,None,None,None
49,Oman,£119.00,22.05,Mbps,6.91,Mbps,2,"minutes,",16,seconds,None,None,None,None,None,None,None
50,Kuwait,£43.13,21.76,Mbps,18.55,Mbps,2,"minutes,",18,seconds,None,None,None,None,None,None,None
51,Greece,£45.99,19.86,Mbps,13.84,Mbps,2,"minutes,",31,seconds,None,None,None,None,None,None,None
52,Turkey,£12.61,18.76,Mbps,5.52,Mbps,2,"minutes,",40,seconds,None,None,None,None,None,None,None
53,Bahrain,£76.07,18.32,Mbps,6.07,Mbps,2,"minutes,",44,seconds,None,None,None,None,None,None,None
54,Brunei,£97.40,15.15,Mbps,10.36,Mbps,3,"minutes,",18,seconds,None,None,None,None,None,None,None

In [63]:
len(Cost_Speed_By_Country_Slpit_Renamed_df1)

55

In [64]:
Cost_Speed_By_Country_Slpit_Filtered_df1 = Cost_Speed_By_Country_Slpit_Renamed_df1.loc[(Cost_Speed_By_Country_Slpit_df1[1] != 'Korea') & 
                                                                          (Cost_Speed_By_Country_Slpit_df1[1] != 'States') &
                                                                          (Cost_Speed_By_Country_Slpit_df1[1] != 'Zealand') &
                                                                          (Cost_Speed_By_Country_Slpit_df1[1] != 'Kingdom') &
                                                                          (Cost_Speed_By_Country_Slpit_df1[1] != 'Republic') &
                                                                          (Cost_Speed_By_Country_Slpit_df1[1] != 'Arabia') &
                                                                          (Cost_Speed_By_Country_Slpit_df1[1] != 'Arab') &
                                                                          (Cost_Speed_By_Country_Slpit_df1[1] != 'and')
                                                                          , :]

In [65]:
#Cost_Speed_By_Country_Slpit_Filtered_df1.drop(columns =['Col 11', 'Col 12', 'Col 13', 'Col 14', 'Col 15', 'Col 16']) 
Cost_Speed_By_Country_Slpit_Filtered_df1

,Col 1,Col 2,Col 3,Col 4,Col 5,Col 6,Col 7,Col 8,Col 9,Col 10,Col 11,Col 12,Col 13,Col 14,Col 15,Col 16,Col 17
0,Country,Avg.,Monthly,Cost,Avg.,Download,Speed,Avg.,Upload,Speed,Time,to,Download,One,Hour,of,Netflix
1,Singapore,£39.84,185.25,Mbps,192.08,Mbps,16,seconds,None,None,None,None,None,None,None,None,None
2,Iceland,£60.56,153.3,Mbps,155.46,Mbps,20,seconds,None,None,None,None,None,None,None,None,None
4,Hungary,£14.51,108.78,Mbps,44.44,Mbps,28,seconds,None,None,None,None,None,None,None,None,None
6,Sweden,£44.23,106.76,Mbps,72.98,Mbps,28,seconds,None,None,None,None,None,None,None,None,None
7,Spain,£33.48,105.03,Mbps,87.51,Mbps,29,seconds,None,None,None,None,None,None,None,None,None
8,Switzerland,£63.20,104.2,Mbps,65.37,Mbps,29,seconds,None,None,None,None,None,None,None,None,None
9,Luxembourg,£56.21,101.48,Mbps,65.5,Mbps,30,seconds,None,None,None,None,None,None,None,None,None
10,Norway,£58.40,98.72,Mbps,75.67,Mbps,30,seconds,None,None,None,None,None,None,None,None,None
11,France,£24.60,96.14,Mbps,49.05,Mbps,31,seconds,None,None,None,None,None,None,None,None,None
12,Denmark,£40.38,91.27,Mbps,67.11,Mbps,33,seconds,None,None,None,None,None,None,None,None,None
13,Canada,£45.55,91.05,Mbps,38.57,Mbps,33,seconds,None,None,None,None,None,None,None,None,None
14,Japan,£29.35,88.97,Mbps,97.52,Mbps,34,seconds,None,None,None,None,None,None,None,None,None
15,Netherlands,£46.79,86.14,Mbps,41.77,Mbps,35,seconds,None,None,None,None,None,None,None,None,None
17,Portugal,£48.31,73.65,Mbps,39.67,Mbps,41,seconds,None,None,None,None,None,None,None,None,None
18,Lithuania,£13.30,71.37,Mbps,63.07,Mbps,42,seconds,None,None,None,None,None,None,None,None,None
19,Barbados,£88.37,70.37,Mbps,38.45,Mbps,43,seconds,None,None,None,None,None,None,None,None,None
20,Israel,£10.29,69.24,Mbps,15.44,Mbps,43,seconds,None,None,None,None,None,None,None,None,None
21,Germany,£28.98,65.19,Mbps,15.8,Mbps,46,seconds,None,None,None,None,None,None,None,None,None
22,Belgium,£36.09,63.85,Mbps,13.59,Mbps,47,seconds,None,None,None,None,None,None,None,None,None
23,Malta,£42.42,62,Mbps,11.09,Mbps,48,seconds,None,None,None,None,None,None,None,None,None
24,Taiwan,£20.85,61.86,Mbps,37.71,Mbps,48,seconds,None,None,None,None,None,None,None,None,None
25,Ireland,£51.44,56.43,Mbps,19.67,Mbps,53,seconds,None,None,None,None,None,None,None,None,None
26,Poland,£14.43,55.36,Mbps,20.47,Mbps,54,seconds,None,None,None,None,None,None,None,None,None
28,Chile,£35.95,54.77,Mbps,12.69,Mbps,55,seconds,None,None,None,None,None,None,None,None,None
29,Latvia,£14.76,52.91,Mbps,51.18,Mbps,57,seconds,None,None,None,None,None,None,None,None,None
30,Finland,£41.26,51.6,Mbps,23.05,Mbps,58,seconds,None,None,None,None,None,None,None,None,None
31,Slovakia,£17.08,50.66,Mbps,18.44,Mbps,59,seconds,None,None,None,None,None,None,None,None,None
32,Estonia,£21.83,47.94,Mbps,32.97,Mbps,1,"minute,",3,seconds,None,None,None,None,None,None,None
33,Slovenia,£25.06,45.53,Mbps,15.55,Mbps,1,"minute,",6,seconds,None,None,None,None,None,None,None
34,Panama,£85.62,45.45,Mbps,8.96,Mbps,1,"minute,",6,seconds,None,None,None,None,None,None,None
36,Italy,£23.29,42.79,Mbps,15.37,Mbps,1,"minute,",10,seconds,None,None,None,None,None,None,None
39,Austria,£40.05,37.43,Mbps,11.7,Mbps,1,"minute,",20,seconds,None,None,None,None,None,None,None
40,Uruguay,£36.74,35.32,Mbps,9.93,Mbps,1,"minute,",25,seconds,None,None,None,None,None,None,None
41,Qatar,£111.06,33.98,Mbps,18.62,Mbps,1,"minute,",28,seconds,None,None,None,None,None,None,None
42,Australia,£41.69,32.96,Mbps,12.81,Mbps,1,"minute,",31,seconds,None,None,None,None,None,None,None
44,Croatia,£21.12,29.19,Mbps,12.65,Mbps,1,"minute,",43,seconds,None,None,None,None,None,None,None
45,Bahamas,£57.49,28.5,Mbps,10.59,Mbps,1,"minute,",45,seconds,None,None,None,None,None,None,None
46,Mexico,£26.32,24.84,Mbps,10.08,Mbps,2,"minutes,",1,second,None,None,None,None,None,None,None
47,Argentina,£12.25,24.14,Mbps,5.63,Mbps,2,"minutes,",4,seconds,None,None,None,None,None,None,None
48,Cyprus,£41.88,22.96,Mbps,5.45,Mbps,2,"minutes,",11,seconds,None,None,None,None,None,None,None
49,Oman,£119.00,22.05,Mbps,6.91,Mbps,2,"minutes,",16,seconds,None,None,None,None,None,None,None
50,Kuwait,£43.13,21.76,Mbps,18.55,Mbps,2,"minutes,",18,seconds,None,None,None,None,None,None,None
51,Greece,£45.99,19.86,Mbps,13.84,Mbps,2,"minutes,",31,seconds,None,None,None,None,None,None,None
52,Turkey,£12.61,18.76,Mbps,5.52,Mbps,2,"minutes,",40,seconds,None,None,None,None,None,None,None
53,Bahrain,£76.07,18.32,Mbps,6.07,Mbps,2,"minutes,",44,seconds,None,None,None,None,None,None,None
54,Brunei,£97.40,15.15,Mbps,10.36,Mbps,3,"minutes,",18,seconds,None,None,None,None,None,None,None

In [66]:
len(Cost_Speed_By_Country_Slpit_Filtered_df1)

47

In [67]:
Cost_Speed_By_Country_Slpit_Filtered_df2 = Cost_Speed_By_Country_Slpit_Renamed_df1.loc[(Cost_Speed_By_Country_Slpit_df1[1] == 'Korea') | 
                                                                              (Cost_Speed_By_Country_Slpit_df1[1] == 'States') |
                                                                              (Cost_Speed_By_Country_Slpit_df1[1] == 'Zealand') |
                                                                              (Cost_Speed_By_Country_Slpit_df1[1] == 'Kingdom') |
                                                                              (Cost_Speed_By_Country_Slpit_df1[1] == 'Republic') |
                                                                              (Cost_Speed_By_Country_Slpit_df1[1] == 'Arabia')
                                                                          , :]
Cost_Speed_By_Country_Slpit_Filtered_df2

,Col 1,Col 2,Col 3,Col 4,Col 5,Col 6,Col 7,Col 8,Col 9,Col 10,Col 11,Col 12,Col 13,Col 14,Col 15,Col 16,Col 17
3,South,Korea,£25.51,114.31,Mbps,90.2,Mbps,26,seconds,None,None,None,None,None,None,None,None
5,United,States,£53.48,107.28,Mbps,37.11,Mbps,28,seconds,None,None,None,None,None,None,None,None
16,New,Zealand,£46.43,83.96,Mbps,47.63,Mbps,36,seconds,None,None,None,None,None,None,None,None
27,United,Kingdom,£31.27,55.14,Mbps,12.72,Mbps,54,seconds,None,None,None,None,None,None,None,None
35,Czech,Republic,£20.49,44.6,Mbps,23.6,Mbps,1,"minute,",7,seconds,None,None,None,None,None,None
43,Saudi,Arabia,£75.62,29.83,Mbps,12.55,Mbps,1,"minute,",41,seconds,None,None,None,None,None,None

In [68]:
len(Cost_Speed_By_Country_Slpit_Filtered_df2)

6

In [69]:
Cost_Speed_By_Country_Slpit_Filtered_df2['Renamed Country'] = ''

C:\Users\LKNT\anaconda3\envs\LKNT\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [70]:
Cost_Speed_By_Country_Slpit_Filtered_df2['Renamed Country']  = Cost_Speed_By_Country_Slpit_Filtered_df2['Col 1'].map(str) + ' ' + Cost_Speed_By_Country_Slpit_Filtered_df2['Col 2'].map(str)

C:\Users\LKNT\anaconda3\envs\LKNT\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [71]:
Cost_Speed_By_Country_Slpit_Filtered_df2

,Col 1,Col 2,Col 3,Col 4,Col 5,Col 6,Col 7,Col 8,Col 9,Col 10,Col 11,Col 12,Col 13,Col 14,Col 15,Col 16,Col 17,Renamed Country
3,South,Korea,£25.51,114.31,Mbps,90.2,Mbps,26,seconds,None,None,None,None,None,None,None,None,South Korea
5,United,States,£53.48,107.28,Mbps,37.11,Mbps,28,seconds,None,None,None,None,None,None,None,None,United States
16,New,Zealand,£46.43,83.96,Mbps,47.63,Mbps,36,seconds,None,None,None,None,None,None,None,None,New Zealand
27,United,Kingdom,£31.27,55.14,Mbps,12.72,Mbps,54,seconds,None,None,None,None,None,None,None,None,United Kingdom
35,Czech,Republic,£20.49,44.6,Mbps,23.6,Mbps,1,"minute,",7,seconds,None,None,None,None,None,None,Czech Republic
43,Saudi,Arabia,£75.62,29.83,Mbps,12.55,Mbps,1,"minute,",41,seconds,None,None,None,None,None,None,Saudi Arabia

In [72]:
Cost_Speed_By_Country_Slpit_Filtered_df2['Col 1'] = Cost_Speed_By_Country_Slpit_Filtered_df2['Renamed Country']
Cost_Speed_By_Country_Slpit_Filtered_df2

C:\Users\LKNT\anaconda3\envs\LKNT\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Col 1,Col 2,Col 3,Col 4,Col 5,Col 6,Col 7,Col 8,Col 9,Col 10,Col 11,Col 12,Col 13,Col 14,Col 15,Col 16,Col 17,Renamed Country
3,South Korea,Korea,£25.51,114.31,Mbps,90.2,Mbps,26,seconds,None,None,None,None,None,None,None,None,South Korea
5,United States,States,£53.48,107.28,Mbps,37.11,Mbps,28,seconds,None,None,None,None,None,None,None,None,United States
16,New Zealand,Zealand,£46.43,83.96,Mbps,47.63,Mbps,36,seconds,None,None,None,None,None,None,None,None,New Zealand
27,United Kingdom,Kingdom,£31.27,55.14,Mbps,12.72,Mbps,54,seconds,None,None,None,None,None,None,None,None,United Kingdom
35,Czech Republic,Republic,£20.49,44.6,Mbps,23.6,Mbps,1,"minute,",7,seconds,None,None,None,None,None,None,Czech Republic
43,Saudi Arabia,Arabia,£75.62,29.83,Mbps,12.55,Mbps,1,"minute,",41,seconds,None,None,None,None,None,None,Saudi Arabia

In [73]:
Cost_Speed_By_Country_Slpit_Filtered_Drop_df2 = Cost_Speed_By_Country_Slpit_Filtered_df2.drop(columns = ['Col 2', 'Col 12', 'Col 13', 'Col 14', 'Col 15', 'Col 16', 'Col 17', 'Renamed Country'])

In [74]:
Cost_Speed_By_Country_Slpit_Filtered_Drop_df2

,Col 1,Col 3,Col 4,Col 5,Col 6,Col 7,Col 8,Col 9,Col 10,Col 11
3,South Korea,£25.51,114.31,Mbps,90.2,Mbps,26,seconds,None,None
5,United States,£53.48,107.28,Mbps,37.11,Mbps,28,seconds,None,None
16,New Zealand,£46.43,83.96,Mbps,47.63,Mbps,36,seconds,None,None
27,United Kingdom,£31.27,55.14,Mbps,12.72,Mbps,54,seconds,None,None
35,Czech Republic,£20.49,44.6,Mbps,23.6,Mbps,1,"minute,",7,seconds
43,Saudi Arabia,£75.62,29.83,Mbps,12.55,Mbps,1,"minute,",41,seconds

In [75]:
#Cost_Speed_By_Country_Slpit_Filtered_df1

In [76]:
len(Cost_Speed_By_Country_Slpit_Filtered_df1)

47

In [77]:
Cost_Speed_By_Country_Slpit_Filtered_df1 = Cost_Speed_By_Country_Slpit_Filtered_df1.drop(columns = ['Col 11', 'Col 12', 'Col 13', 'Col 14', 'Col 15', 'Col 16', 'Col 17'])

In [78]:
Cost_Speed_By_Country_Slpit_Filtered_df1

,Col 1,Col 2,Col 3,Col 4,Col 5,Col 6,Col 7,Col 8,Col 9,Col 10
0,Country,Avg.,Monthly,Cost,Avg.,Download,Speed,Avg.,Upload,Speed
1,Singapore,£39.84,185.25,Mbps,192.08,Mbps,16,seconds,None,None
2,Iceland,£60.56,153.3,Mbps,155.46,Mbps,20,seconds,None,None
4,Hungary,£14.51,108.78,Mbps,44.44,Mbps,28,seconds,None,None
6,Sweden,£44.23,106.76,Mbps,72.98,Mbps,28,seconds,None,None
7,Spain,£33.48,105.03,Mbps,87.51,Mbps,29,seconds,None,None
8,Switzerland,£63.20,104.2,Mbps,65.37,Mbps,29,seconds,None,None
9,Luxembourg,£56.21,101.48,Mbps,65.5,Mbps,30,seconds,None,None
10,Norway,£58.40,98.72,Mbps,75.67,Mbps,30,seconds,None,None
11,France,£24.60,96.14,Mbps,49.05,Mbps,31,seconds,None,None
12,Denmark,£40.38,91.27,Mbps,67.11,Mbps,33,seconds,None,None
13,Canada,£45.55,91.05,Mbps,38.57,Mbps,33,seconds,None,None
14,Japan,£29.35,88.97,Mbps,97.52,Mbps,34,seconds,None,None
15,Netherlands,£46.79,86.14,Mbps,41.77,Mbps,35,seconds,None,None
17,Portugal,£48.31,73.65,Mbps,39.67,Mbps,41,seconds,None,None
18,Lithuania,£13.30,71.37,Mbps,63.07,Mbps,42,seconds,None,None
19,Barbados,£88.37,70.37,Mbps,38.45,Mbps,43,seconds,None,None
20,Israel,£10.29,69.24,Mbps,15.44,Mbps,43,seconds,None,None
21,Germany,£28.98,65.19,Mbps,15.8,Mbps,46,seconds,None,None
22,Belgium,£36.09,63.85,Mbps,13.59,Mbps,47,seconds,None,None
23,Malta,£42.42,62,Mbps,11.09,Mbps,48,seconds,None,None
24,Taiwan,£20.85,61.86,Mbps,37.71,Mbps,48,seconds,None,None
25,Ireland,£51.44,56.43,Mbps,19.67,Mbps,53,seconds,None,None
26,Poland,£14.43,55.36,Mbps,20.47,Mbps,54,seconds,None,None
28,Chile,£35.95,54.77,Mbps,12.69,Mbps,55,seconds,None,None
29,Latvia,£14.76,52.91,Mbps,51.18,Mbps,57,seconds,None,None
30,Finland,£41.26,51.6,Mbps,23.05,Mbps,58,seconds,None,None
31,Slovakia,£17.08,50.66,Mbps,18.44,Mbps,59,seconds,None,None
32,Estonia,£21.83,47.94,Mbps,32.97,Mbps,1,"minute,",3,seconds
33,Slovenia,£25.06,45.53,Mbps,15.55,Mbps,1,"minute,",6,seconds
34,Panama,£85.62,45.45,Mbps,8.96,Mbps,1,"minute,",6,seconds
36,Italy,£23.29,42.79,Mbps,15.37,Mbps,1,"minute,",10,seconds
39,Austria,£40.05,37.43,Mbps,11.7,Mbps,1,"minute,",20,seconds
40,Uruguay,£36.74,35.32,Mbps,9.93,Mbps,1,"minute,",25,seconds
41,Qatar,£111.06,33.98,Mbps,18.62,Mbps,1,"minute,",28,seconds
42,Australia,£41.69,32.96,Mbps,12.81,Mbps,1,"minute,",31,seconds
44,Croatia,£21.12,29.19,Mbps,12.65,Mbps,1,"minute,",43,seconds
45,Bahamas,£57.49,28.5,Mbps,10.59,Mbps,1,"minute,",45,seconds
46,Mexico,£26.32,24.84,Mbps,10.08,Mbps,2,"minutes,",1,second
47,Argentina,£12.25,24.14,Mbps,5.63,Mbps,2,"minutes,",4,seconds
48,Cyprus,£41.88,22.96,Mbps,5.45,Mbps,2,"minutes,",11,seconds
49,Oman,£119.00,22.05,Mbps,6.91,Mbps,2,"minutes,",16,seconds
50,Kuwait,£43.13,21.76,Mbps,18.55,Mbps,2,"minutes,",18,seconds
51,Greece,£45.99,19.86,Mbps,13.84,Mbps,2,"minutes,",31,seconds
52,Turkey,£12.61,18.76,Mbps,5.52,Mbps,2,"minutes,",40,seconds
53,Bahrain,£76.07,18.32,Mbps,6.07,Mbps,2,"minutes,",44,seconds
54,Brunei,£97.40,15.15,Mbps,10.36,Mbps,3,"minutes,",18,seconds

In [79]:
Cost_Speed_By_Country_Slpit_Filtered_df3 = Cost_Speed_By_Country_Slpit_Renamed_df1.loc[(Cost_Speed_By_Country_Slpit_df1[1] == 'and') |
                                                                                       (Cost_Speed_By_Country_Slpit_df1[1] == 'Arab')
                                                                          , :]
Cost_Speed_By_Country_Slpit_Filtered_df3

,Col 1,Col 2,Col 3,Col 4,Col 5,Col 6,Col 7,Col 8,Col 9,Col 10,Col 11,Col 12,Col 13,Col 14,Col 15,Col 16,Col 17
37,Trinidad,and,Tobago,£48.01,42.5,Mbps,23.15,Mbps,1,"minute,",11,seconds,None,None,None,None,None
38,United,Arab,Emirates,£124.11,38.16,Mbps,13.56,Mbps,1,"minute,",19,seconds,None,None,None,None,None

In [80]:
len(Cost_Speed_By_Country_Slpit_Filtered_df3)

2

In [81]:
Cost_Speed_By_Country_Slpit_Filtered_df3['Renamed Country'] = ''

C:\Users\LKNT\anaconda3\envs\LKNT\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [82]:
Cost_Speed_By_Country_Slpit_Filtered_df3['Renamed Country']  = Cost_Speed_By_Country_Slpit_Filtered_df3['Col 1'].map(str) + ' ' + Cost_Speed_By_Country_Slpit_Filtered_df3['Col 2'].map(str) + ' ' + Cost_Speed_By_Country_Slpit_Filtered_df3['Col 3'].map(str)

C:\Users\LKNT\anaconda3\envs\LKNT\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [83]:
Cost_Speed_By_Country_Slpit_Filtered_df3['Col 1'] = Cost_Speed_By_Country_Slpit_Filtered_df3['Renamed Country']
Cost_Speed_By_Country_Slpit_Filtered_df3

C:\Users\LKNT\anaconda3\envs\LKNT\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Col 1,Col 2,Col 3,Col 4,Col 5,Col 6,Col 7,Col 8,Col 9,Col 10,Col 11,Col 12,Col 13,Col 14,Col 15,Col 16,Col 17,Renamed Country
37,Trinidad and Tobago,and,Tobago,£48.01,42.5,Mbps,23.15,Mbps,1,"minute,",11,seconds,None,None,None,None,None,Trinidad and Tobago
38,United Arab Emirates,Arab,Emirates,£124.11,38.16,Mbps,13.56,Mbps,1,"minute,",19,seconds,None,None,None,None,None,United Arab Emirates

In [84]:
Cost_Speed_By_Country_Slpit_Filtered_Drop_df3 = Cost_Speed_By_Country_Slpit_Filtered_df3.drop(columns = ['Col 2', 'Col 3', 'Col 13', 'Col 14', 'Col 15', 'Col 16', 'Col 17', 'Renamed Country'])

In [85]:
Cost_Speed_By_Country_Slpit_Filtered_Drop_df3

,Col 1,Col 4,Col 5,Col 6,Col 7,Col 8,Col 9,Col 10,Col 11,Col 12
37,Trinidad and Tobago,£48.01,42.5,Mbps,23.15,Mbps,1,"minute,",11,seconds
38,United Arab Emirates,£124.11,38.16,Mbps,13.56,Mbps,1,"minute,",19,seconds

In [86]:
Cost_Speed_By_Country_Slpit_Filtered_df1.head()

,Col 1,Col 2,Col 3,Col 4,Col 5,Col 6,Col 7,Col 8,Col 9,Col 10
0,Country,Avg.,Monthly,Cost,Avg.,Download,Speed,Avg.,Upload,Speed
1,Singapore,£39.84,185.25,Mbps,192.08,Mbps,16,seconds,None,None
2,Iceland,£60.56,153.3,Mbps,155.46,Mbps,20,seconds,None,None
4,Hungary,£14.51,108.78,Mbps,44.44,Mbps,28,seconds,None,None
6,Sweden,£44.23,106.76,Mbps,72.98,Mbps,28,seconds,None,None

In [87]:
Cost_Speed_By_Country_Slpit_Filtered_Drop_df2

,Col 1,Col 3,Col 4,Col 5,Col 6,Col 7,Col 8,Col 9,Col 10,Col 11
3,South Korea,£25.51,114.31,Mbps,90.2,Mbps,26,seconds,None,None
5,United States,£53.48,107.28,Mbps,37.11,Mbps,28,seconds,None,None
16,New Zealand,£46.43,83.96,Mbps,47.63,Mbps,36,seconds,None,None
27,United Kingdom,£31.27,55.14,Mbps,12.72,Mbps,54,seconds,None,None
35,Czech Republic,£20.49,44.6,Mbps,23.6,Mbps,1,"minute,",7,seconds
43,Saudi Arabia,£75.62,29.83,Mbps,12.55,Mbps,1,"minute,",41,seconds

In [88]:
Cost_Speed_By_Country_Slpit_Filtered_Drop_df2 = Cost_Speed_By_Country_Slpit_Filtered_Drop_df2.rename(columns = {'Col 1' : 'Col 1', 
                                                                                                        'Col 3' : 'Col 2',
                                                                                                        'Col 4' : 'Col 3',
                                                                                                        'Col 5' : 'Col 4',
                                                                                                        'Col 6' : 'Col 5',
                                                                                                        'Col 7' : 'Col 6',
                                                                                                        'Col 8' : 'Col 7',
                                                                                                        'Col 9' : 'Col 8',
                                                                                                        'Col 10' : 'Col 9',
                                                                                                        'Col 11' : 'Col 10'
                                                                                                       }
                                                                                             )

In [89]:
Cost_Speed_By_Country_Slpit_Filtered_Drop_df2

,Col 1,Col 2,Col 3,Col 4,Col 5,Col 6,Col 7,Col 8,Col 9,Col 10
3,South Korea,£25.51,114.31,Mbps,90.2,Mbps,26,seconds,None,None
5,United States,£53.48,107.28,Mbps,37.11,Mbps,28,seconds,None,None
16,New Zealand,£46.43,83.96,Mbps,47.63,Mbps,36,seconds,None,None
27,United Kingdom,£31.27,55.14,Mbps,12.72,Mbps,54,seconds,None,None
35,Czech Republic,£20.49,44.6,Mbps,23.6,Mbps,1,"minute,",7,seconds
43,Saudi Arabia,£75.62,29.83,Mbps,12.55,Mbps,1,"minute,",41,seconds

In [90]:
Cost_Speed_By_Country_Slpit_Filtered_Drop_df3

,Col 1,Col 4,Col 5,Col 6,Col 7,Col 8,Col 9,Col 10,Col 11,Col 12
37,Trinidad and Tobago,£48.01,42.5,Mbps,23.15,Mbps,1,"minute,",11,seconds
38,United Arab Emirates,£124.11,38.16,Mbps,13.56,Mbps,1,"minute,",19,seconds

In [91]:
Cost_Speed_By_Country_Slpit_Filtered_Drop_df3 = Cost_Speed_By_Country_Slpit_Filtered_Drop_df3.rename(columns = {'Col 1' : 'Col 1', 
                                                                                                        'Col 4' : 'Col 2',
                                                                                                        'Col 5' : 'Col 3',
                                                                                                        'Col 6' : 'Col 4',
                                                                                                        'Col 7' : 'Col 5',
                                                                                                        'Col 8' : 'Col 6',
                                                                                                        'Col 9' : 'Col 7',
                                                                                                        'Col 10' : 'Col 8',
                                                                                                        'Col 11' : 'Col 9',
                                                                                                        'Col 12' : 'Col 10'
                                                                                                       }
                                                                                             )

In [92]:
Cost_Speed_By_Country_Slpit_Filtered_Drop_df3

,Col 1,Col 2,Col 3,Col 4,Col 5,Col 6,Col 7,Col 8,Col 9,Col 10
37,Trinidad and Tobago,£48.01,42.5,Mbps,23.15,Mbps,1,"minute,",11,seconds
38,United Arab Emirates,£124.11,38.16,Mbps,13.56,Mbps,1,"minute,",19,seconds

In [93]:
Cost_Speed_By_Country_concatenate_df = pd.concat([ Cost_Speed_By_Country_Slpit_Filtered_df1, Cost_Speed_By_Country_Slpit_Filtered_Drop_df2, Cost_Speed_By_Country_Slpit_Filtered_Drop_df3 ])
Cost_Speed_By_Country_concatenate_df

,Col 1,Col 2,Col 3,Col 4,Col 5,Col 6,Col 7,Col 8,Col 9,Col 10
0,Country,Avg.,Monthly,Cost,Avg.,Download,Speed,Avg.,Upload,Speed
1,Singapore,£39.84,185.25,Mbps,192.08,Mbps,16,seconds,None,None
2,Iceland,£60.56,153.3,Mbps,155.46,Mbps,20,seconds,None,None
4,Hungary,£14.51,108.78,Mbps,44.44,Mbps,28,seconds,None,None
6,Sweden,£44.23,106.76,Mbps,72.98,Mbps,28,seconds,None,None
7,Spain,£33.48,105.03,Mbps,87.51,Mbps,29,seconds,None,None
8,Switzerland,£63.20,104.2,Mbps,65.37,Mbps,29,seconds,None,None
9,Luxembourg,£56.21,101.48,Mbps,65.5,Mbps,30,seconds,None,None
10,Norway,£58.40,98.72,Mbps,75.67,Mbps,30,seconds,None,None
11,France,£24.60,96.14,Mbps,49.05,Mbps,31,seconds,None,None
12,Denmark,£40.38,91.27,Mbps,67.11,Mbps,33,seconds,None,None
13,Canada,£45.55,91.05,Mbps,38.57,Mbps,33,seconds,None,None
14,Japan,£29.35,88.97,Mbps,97.52,Mbps,34,seconds,None,None
15,Netherlands,£46.79,86.14,Mbps,41.77,Mbps,35,seconds,None,None
17,Portugal,£48.31,73.65,Mbps,39.67,Mbps,41,seconds,None,None
18,Lithuania,£13.30,71.37,Mbps,63.07,Mbps,42,seconds,None,None
19,Barbados,£88.37,70.37,Mbps,38.45,Mbps,43,seconds,None,None
20,Israel,£10.29,69.24,Mbps,15.44,Mbps,43,seconds,None,None
21,Germany,£28.98,65.19,Mbps,15.8,Mbps,46,seconds,None,None
22,Belgium,£36.09,63.85,Mbps,13.59,Mbps,47,seconds,None,None
23,Malta,£42.42,62,Mbps,11.09,Mbps,48,seconds,None,None
24,Taiwan,£20.85,61.86,Mbps,37.71,Mbps,48,seconds,None,None
25,Ireland,£51.44,56.43,Mbps,19.67,Mbps,53,seconds,None,None
26,Poland,£14.43,55.36,Mbps,20.47,Mbps,54,seconds,None,None
28,Chile,£35.95,54.77,Mbps,12.69,Mbps,55,seconds,None,None
29,Latvia,£14.76,52.91,Mbps,51.18,Mbps,57,seconds,None,None
30,Finland,£41.26,51.6,Mbps,23.05,Mbps,58,seconds,None,None
31,Slovakia,£17.08,50.66,Mbps,18.44,Mbps,59,seconds,None,None
32,Estonia,£21.83,47.94,Mbps,32.97,Mbps,1,"minute,",3,seconds
33,Slovenia,£25.06,45.53,Mbps,15.55,Mbps,1,"minute,",6,seconds
34,Panama,£85.62,45.45,Mbps,8.96,Mbps,1,"minute,",6,seconds
36,Italy,£23.29,42.79,Mbps,15.37,Mbps,1,"minute,",10,seconds
39,Austria,£40.05,37.43,Mbps,11.7,Mbps,1,"minute,",20,seconds
40,Uruguay,£36.74,35.32,Mbps,9.93,Mbps,1,"minute,",25,seconds
41,Qatar,£111.06,33.98,Mbps,18.62,Mbps,1,"minute,",28,seconds
42,Australia,£41.69,32.96,Mbps,12.81,Mbps,1,"minute,",31,seconds
44,Croatia,£21.12,29.19,Mbps,12.65,Mbps,1,"minute,",43,seconds
45,Bahamas,£57.49,28.5,Mbps,10.59,Mbps,1,"minute,",45,seconds
46,Mexico,£26.32,24.84,Mbps,10.08,Mbps,2,"minutes,",1,second
47,Argentina,£12.25,24.14,Mbps,5.63,Mbps,2,"minutes,",4,seconds
48,Cyprus,£41.88,22.96,Mbps,5.45,Mbps,2,"minutes,",11,seconds
49,Oman,£119.00,22.05,Mbps,6.91,Mbps,2,"minutes,",16,seconds
50,Kuwait,£43.13,21.76,Mbps,18.55,Mbps,2,"minutes,",18,seconds
51,Greece,£45.99,19.86,Mbps,13.84,Mbps,2,"minutes,",31,seconds
52,Turkey,£12.61,18.76,Mbps,5.52,Mbps,2,"minutes,",40,seconds
53,Bahrain,£76.07,18.32,Mbps,6.07,Mbps,2,"minutes,",44,seconds
54,Brunei,£97.40,15.15,Mbps,10.36,Mbps,3,"minutes,",18,seconds
3,South Korea,£25.51,114.31,Mbps,90.2,Mbps,26,seconds,None,None
5,United States,£53.48,107.28,Mbps,37.11,Mbps,28,seconds,None,None
16,New Zealand,£46.43,83.96,Mbps,47.63,Mbps,36,seconds,None,None
27,United Kingdom,£31.27,55.14,Mbps,12.72,Mbps,54,seconds,None,None
35,Czech Republic,£20.49,44.6,Mbps,23.6,Mbps,1,"minute,",7,seconds
43,Saudi Arabia,£75.62,29.83,Mbps,12.55,Mbps,1,"minute,",41,seconds
37,Trinidad and Tobago,£48.01,42.5,Mbps,23.15,Mbps,1,"minute,",11,seconds
38,United Arab Emirates,£124.11,38.16,Mbps,13.56,Mbps,1,"minute,",19,seconds

In [94]:
len(Cost_Speed_By_Country_concatenate_df)

55

In [95]:
Cost_Speed_By_Country_concatenate_df = Cost_Speed_By_Country_concatenate_df.drop(columns = ['Col 4', 'Col 6', 'Col 7', 'Col 8', 'Col 9', 'Col 10'])

In [96]:
Cost_Speed_By_Country_concatenate_df = Cost_Speed_By_Country_concatenate_df[Cost_Speed_By_Country_concatenate_df['Col 1'] != 'Country']

In [97]:
Cost_Speed_By_Country_concatenate_df

                   Col 1    Col 2   Col 3   Col 5
1              Singapore   £39.84  185.25  192.08
2                Iceland   £60.56   153.3  155.46
4                Hungary   £14.51  108.78   44.44
6                 Sweden   £44.23  106.76   72.98
7                  Spain   £33.48  105.03   87.51
8            Switzerland   £63.20   104.2   65.37
9             Luxembourg   £56.21  101.48    65.5
10                Norway   £58.40   98.72   75.67
11                France   £24.60   96.14   49.05
12               Denmark   £40.38   91.27   67.11
13                Canada   £45.55   91.05   38.57
14                 Japan   £29.35   88.97   97.52
15           Netherlands   £46.79   86.14   41.77
17              Portugal   £48.31   73.65   39.67
18             Lithuania   £13.30   71.37   63.07
19              Barbados   £88.37   70.37   38.45
20                Israel   £10.29   69.24   15.44
21               Germany   £28.98   65.19    15.8
22               Belgium   £36.09   63.85   13.59
23                 Malta   £42.42      62   11.09
24                Taiwan   £20.85   61.86   37.71
25               Ireland   £51.44   56.43   19.67
26                Poland   £14.43   55.36   20.47
28                 Chile   £35.95   54.77   12.69
29                Latvia   £14.76   52.91   51.18
30               Finland   £41.26    51.6   23.05
31              Slovakia   £17.08   50.66   18.44
32               Estonia   £21.83   47.94   32.97
33              Slovenia   £25.06   45.53   15.55
34                Panama   £85.62   45.45    8.96
36                 Italy   £23.29   42.79   15.37
39               Austria   £40.05   37.43    11.7
40               Uruguay   £36.74   35.32    9.93
41                 Qatar  £111.06   33.98   18.62
42             Australia   £41.69   32.96   12.81
44               Croatia   £21.12   29.19   12.65
45               Bahamas   £57.49    28.5   10.59
46                Mexico   £26.32   24.84   10.08
47             Argentina   £12.25   24.14    5.63
48                Cyprus   £41.88   22.96    5.45
49                  Oman  £119.00   22.05    6.91
50                Kuwait   £43.13   21.76   18.55
51                Greece   £45.99   19.86   13.84
52                Turkey   £12.61   18.76    5.52
53               Bahrain   £76.07   18.32    6.07
54                Brunei   £97.40   15.15   10.36
3            South Korea   £25.51  114.31    90.2
5          United States   £53.48  107.28   37.11
16           New Zealand   £46.43   83.96   47.63
27        United Kingdom   £31.27   55.14   12.72
35        Czech Republic   £20.49    44.6    23.6
43          Saudi Arabia   £75.62   29.83   12.55
37   Trinidad and Tobago   £48.01    42.5   23.15
38  United Arab Emirates  £124.11   38.16   13.56

In [98]:
Cost_Speed_By_Country_concatenate_df[['First','Last']] = Cost_Speed_By_Country_concatenate_df['Col 2'].str.split('£' , expand = True)
Cost_Speed_By_Country_concatenate_df['Col 2'] = Cost_Speed_By_Country_concatenate_df['Last']
Cost_Speed_By_Country_concatenate_df = Cost_Speed_By_Country_concatenate_df.drop(columns = ['First', 'Last'])

In [99]:
Cost_Speed_By_Country_concatenate_df
#Cost_Speed_By_Country_concatenate_df

                   Col 1   Col 2   Col 3   Col 5
1              Singapore   39.84  185.25  192.08
2                Iceland   60.56   153.3  155.46
4                Hungary   14.51  108.78   44.44
6                 Sweden   44.23  106.76   72.98
7                  Spain   33.48  105.03   87.51
8            Switzerland   63.20   104.2   65.37
9             Luxembourg   56.21  101.48    65.5
10                Norway   58.40   98.72   75.67
11                France   24.60   96.14   49.05
12               Denmark   40.38   91.27   67.11
13                Canada   45.55   91.05   38.57
14                 Japan   29.35   88.97   97.52
15           Netherlands   46.79   86.14   41.77
17              Portugal   48.31   73.65   39.67
18             Lithuania   13.30   71.37   63.07
19              Barbados   88.37   70.37   38.45
20                Israel   10.29   69.24   15.44
21               Germany   28.98   65.19    15.8
22               Belgium   36.09   63.85   13.59
23                 Malta   42.42      62   11.09
24                Taiwan   20.85   61.86   37.71
25               Ireland   51.44   56.43   19.67
26                Poland   14.43   55.36   20.47
28                 Chile   35.95   54.77   12.69
29                Latvia   14.76   52.91   51.18
30               Finland   41.26    51.6   23.05
31              Slovakia   17.08   50.66   18.44
32               Estonia   21.83   47.94   32.97
33              Slovenia   25.06   45.53   15.55
34                Panama   85.62   45.45    8.96
36                 Italy   23.29   42.79   15.37
39               Austria   40.05   37.43    11.7
40               Uruguay   36.74   35.32    9.93
41                 Qatar  111.06   33.98   18.62
42             Australia   41.69   32.96   12.81
44               Croatia   21.12   29.19   12.65
45               Bahamas   57.49    28.5   10.59
46                Mexico   26.32   24.84   10.08
47             Argentina   12.25   24.14    5.63
48                Cyprus   41.88   22.96    5.45
49                  Oman  119.00   22.05    6.91
50                Kuwait   43.13   21.76   18.55
51                Greece   45.99   19.86   13.84
52                Turkey   12.61   18.76    5.52
53               Bahrain   76.07   18.32    6.07
54                Brunei   97.40   15.15   10.36
3            South Korea   25.51  114.31    90.2
5          United States   53.48  107.28   37.11
16           New Zealand   46.43   83.96   47.63
27        United Kingdom   31.27   55.14   12.72
35        Czech Republic   20.49    44.6    23.6
43          Saudi Arabia   75.62   29.83   12.55
37   Trinidad and Tobago   48.01    42.5   23.15
38  United Arab Emirates  124.11   38.16   13.56

In [100]:
Cost_Speed_By_Country_concatenate_df = Cost_Speed_By_Country_concatenate_df.rename(columns = {'Col 1' : 'Country',
                                                                                              'Col 2' : 'Avg_Monthly_Cost_in_GBP',
                                                                                              'Col 3' : 'Avg_Download_Speed_Mbps',
                                                                                              'Col 5' : 'Avg_Upload_Speed_Mbps'
                                                                                                       }
                                                                                             )

In [101]:
Cost_Speed_By_Country_concatenate_df.dtypes

Country                    object
Avg_Monthly_Cost_in_GBP    object
Avg_Download_Speed_Mbps    object
Avg_Upload_Speed_Mbps      object
dtype: object

In [102]:
Cost_Speed_By_Country_concatenate_df['Country']                 = Cost_Speed_By_Country_concatenate_df['Country'].astype(str)
Cost_Speed_By_Country_concatenate_df['Avg_Monthly_Cost_in_GBP']        = pd.to_numeric(Cost_Speed_By_Country_concatenate_df['Avg_Monthly_Cost_in_GBP'])
Cost_Speed_By_Country_concatenate_df['Avg_Download_Speed_Mbps'] = pd.to_numeric(Cost_Speed_By_Country_concatenate_df['Avg_Download_Speed_Mbps'])
Cost_Speed_By_Country_concatenate_df['Avg_Upload_Speed_Mbps']   = pd.to_numeric(Cost_Speed_By_Country_concatenate_df['Avg_Upload_Speed_Mbps'])

In [103]:
Cost_Speed_By_Country_concatenate_df.dtypes

Country                     object
Avg_Monthly_Cost_in_GBP    float64
Avg_Download_Speed_Mbps    float64
Avg_Upload_Speed_Mbps      float64
dtype: object

In [104]:
Cost_Speed_By_Country_concatenate_df.head()

,Country,Avg_Monthly_Cost_in_GBP,Avg_Download_Speed_Mbps,Avg_Upload_Speed_Mbps
1,Singapore,39.84,185.25,192.08
2,Iceland,60.56,153.30,155.46
4,Hungary,14.51,108.78,44.44
6,Sweden,44.23,106.76,72.98
7,Spain,33.48,105.03,87.51

In [105]:
# Export to CSV
Cost_Speed_By_Country_concatenate_df.to_csv("../../02_Data_Output/Internet_Cost_Speed_By_Country.csv",
                   index=False, 
                   header=True
                  )