In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Reading CSV files for Internet Usage regionwise across the world
csv_file="../01_Extraction/02_Data_Output/Internet_Usage_Africa.csv"
IU_Africa= pd.read_csv(csv_file)

csv_file="../01_Extraction/02_Data_Output/Internet_Usage_Americas.csv"
IU_America= pd.read_csv(csv_file)

csv_file="../01_Extraction/02_Data_Output/Internet_Usage_Asia.csv"
IU_Asia= pd.read_csv(csv_file)

csv_file="../01_Extraction/02_Data_Output/Internet_Usage_Europe.csv"
IU_Europe= pd.read_csv(csv_file)

csv_file="../01_Extraction/02_Data_Output/Internet_Usage_EuropeanUnion.csv"
IU_EU= pd.read_csv(csv_file)

csv_file="../01_Extraction/02_Data_Output/Internet_Usage_MiddleEast.csv"
IU_ME= pd.read_csv(csv_file)

csv_file="../01_Extraction/02_Data_Output/Internet_Usage_Oceania.csv"
IU_Oceania= pd.read_csv(csv_file)

In [3]:
IU_Africa.head()

,AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS,AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS.1,AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS.2,AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS.3,AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS.4,AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS.5,AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS.6
0,AFRICA,Population (2020 Est.),InternetUsers 31-Dec-2000,InternetUsers 31-DEC-2019,Penetration (% Population),InternetGrowth % 2000 - 2020,Facebook subscribers31-DEC-2019
1,Algeria,43851044,50000,25428159,58.0 %,"50,756 %",19000000
2,Angola,32866272,30000,7078067,21.5 %,"23,493 %",2244000
3,Benin,12123200,15000,3801758,31.4 %,"25,245 %",920000
4,Botswana,2351627,15000,1116079,47.5 %,"6,455 %",830000

In [4]:
IU_Africa.insert(0, 'Region', 'Africa')

In [5]:
IU_A= IU_Africa.rename(columns={"AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS": "Countries",
                         "AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS.1": "Population",
                         "AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS.2": "Internet Users (yr. 2000)",
                         "AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS.3": "Internet Users",
                         "AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS.4": "Penetration (% Population)",
                         "AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS.5": "Internet Growth % (2000-2020)",
                         "AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS.6": "Facebook subscribers31-DEC-2019"})

In [6]:
IU_af=IU_A.drop(index=0, columns=['Internet Users (yr. 2000)', 'Internet Growth % (2000-2020)',
                                  'Facebook subscribers31-DEC-2019'])
IU_af.drop(IU_af.tail(3).index, inplace=True)
IU_af.head()

   Region     Countries Population Internet Users Penetration (% Population)
1  Africa       Algeria   43851044       25428159                     58.0 %
2  Africa        Angola   32866272        7078067                     21.5 %
3  Africa         Benin   12123200        3801758                     31.4 %
4  Africa      Botswana    2351627        1116079                     47.5 %
5  Africa  Burkina Faso   20903273        3704265                     17.7 %

In [7]:
IU_America.head()

,"Internet Usage, Facebook Subscribers and Population Statistics for all the Americas World Region Countries March 31, 2020","Internet Usage, Facebook Subscribers and Population Statistics for all the Americas World Region Countries March 31, 2020.1","Internet Usage, Facebook Subscribers and Population Statistics for all the Americas World Region Countries March 31, 2020.2","Internet Usage, Facebook Subscribers and Population Statistics for all the Americas World Region Countries March 31, 2020.3","Internet Usage, Facebook Subscribers and Population Statistics for all the Americas World Region Countries March 31, 2020.4","Internet Usage, Facebook Subscribers and Population Statistics for all the Americas World Region Countries March 31, 2020.5","Internet Usage, Facebook Subscribers and Population Statistics for all the Americas World Region Countries March 31, 2020.6"
0,THE AMERICAS,Population ( 2020 Est. ),Pop. % Table,Internet Usage 31-Mar-2020,% Population (Penetration),Internet % Users,Facebook 29-Feb-2020
1,Anguilla,14909,0.0 %,12557,84.2 %,0.0 %,9000
2,Antigua & Barbuda,103050,0.0 %,81900,79.5 %,0.0 %,62000
3,Argentina,44688864,4.4 %,41586960,93.1 %,5.3 %,30000000
4,Aruba,105670,0.0 %,100000,94.6 %,0.0 %,91000

In [8]:
IU_America.insert(0, 'Region', 'America')

In [9]:
IU_AM=IU_America.rename(columns={"Internet Usage,  Facebook Subscribers and Population  Statistics for all the Americas World Region Countries  March 31, 2020": "Countries",
                         "Internet Usage,  Facebook Subscribers and Population  Statistics for all the Americas World Region Countries  March 31, 2020.1": "Population",
                         "Internet Usage,  Facebook Subscribers and Population  Statistics for all the Americas World Region Countries  March 31, 2020.2": "Pop % Table",
                         "Internet Usage,  Facebook Subscribers and Population  Statistics for all the Americas World Region Countries  March 31, 2020.3": "Internet Users",
                         "Internet Usage,  Facebook Subscribers and Population  Statistics for all the Americas World Region Countries  March 31, 2020.4": "Penetration (% Population)",
                         "Internet Usage,  Facebook Subscribers and Population  Statistics for all the Americas World Region Countries  March 31, 2020.5": "Internet Users(%)",
                         "Internet Usage,  Facebook Subscribers and Population  Statistics for all the Americas World Region Countries  March 31, 2020.6": "Facebook subscribers29-Feb-2020"})

In [10]:
IU_am=IU_AM.drop(index=0, columns=['Pop % Table', 
                           'Internet Users(%)', 
                           'Facebook subscribers29-Feb-2020'])
IU_am.drop(IU_am.tail(2).index, inplace=True)
IU_am.head()

,Region,Countries,Population,Internet Users,Penetration (% Population)
1,America,Anguilla,14909,12557,84.2 %
2,America,Antigua & Barbuda,103050,81900,79.5 %
3,America,Argentina,44688864,41586960,93.1 %
4,America,Aruba,105670,100000,94.6 %
5,America,Bahamas,399285,333143,83.4 %

In [11]:
IU_Asia.head()

,"ASIA INTERNET USE, POPULATION STATISTICS DATA AND FACEBOOK DATA - JANUARY 31, 2020","ASIA INTERNET USE, POPULATION STATISTICS DATA AND FACEBOOK DATA - JANUARY 31, 2020.1","ASIA INTERNET USE, POPULATION STATISTICS DATA AND FACEBOOK DATA - JANUARY 31, 2020.2","ASIA INTERNET USE, POPULATION STATISTICS DATA AND FACEBOOK DATA - JANUARY 31, 2020.3","ASIA INTERNET USE, POPULATION STATISTICS DATA AND FACEBOOK DATA - JANUARY 31, 2020.4","ASIA INTERNET USE, POPULATION STATISTICS DATA AND FACEBOOK DATA - JANUARY 31, 2020.5","ASIA INTERNET USE, POPULATION STATISTICS DATA AND FACEBOOK DATA - JANUARY 31, 2020.6"
0,ASIA,Population ( 2020 Est.),"Internet Users, (Year 2000)",Internet Users 31-MAY-2020,Penetration % Population,Users % Asia,Facebook 31-MAR-2020
1,Afganistan,38928346,1000,7337489,18.8 %,0.3 %,3848400
2,Armenia,2963243,30000,2126716,71.8 %,0.1 %,1252000
3,Azerbaijan,10139177,12000,7991630,78.8 %,0.3 %,1854000
4,Bangladesh,164689383,100000,96199000,58.4 %,4.2 %,33713000

In [12]:
IU_Asia.insert(0, 'Region', 'Asia')

In [13]:
IU_AS=IU_Asia.rename(columns={"ASIA  INTERNET USE, POPULATION STATISTICS DATA  AND FACEBOOK DATA - JANUARY 31, 2020": "Countries",
                         "ASIA  INTERNET USE, POPULATION STATISTICS DATA  AND FACEBOOK DATA - JANUARY 31, 2020.1": "Population",
                         "ASIA  INTERNET USE, POPULATION STATISTICS DATA  AND FACEBOOK DATA - JANUARY 31, 2020.2": "Internet Users (yr.2000)",
                         "ASIA  INTERNET USE, POPULATION STATISTICS DATA  AND FACEBOOK DATA - JANUARY 31, 2020.3": "Internet Users",
                         "ASIA  INTERNET USE, POPULATION STATISTICS DATA  AND FACEBOOK DATA - JANUARY 31, 2020.4": "Penetration (% Population)",
                         "ASIA  INTERNET USE, POPULATION STATISTICS DATA  AND FACEBOOK DATA - JANUARY 31, 2020.5": "Users % Asia",
                         "ASIA  INTERNET USE, POPULATION STATISTICS DATA  AND FACEBOOK DATA - JANUARY 31, 2020.6": "Facebook subscribers 31-JAN-2020"})

In [14]:
IU_as=IU_AS.drop(index=0, columns=['Internet Users (yr.2000)', 
                           'Users % Asia', 
                           'Facebook subscribers 31-JAN-2020'])
IU_as.drop(IU_as.tail(1).index, inplace=True)
IU_as.head()

  Region   Countries Population Internet Users Penetration (% Population)
1   Asia  Afganistan   38928346        7337489                    18.8  %
2   Asia     Armenia    2963243        2126716                    71.8  %
3   Asia  Azerbaijan   10139177        7991630                    78.8  %
4   Asia  Bangladesh  164689383       96199000                    58.4  %
5   Asia      Bhutan     771608         397499                    51.5  %

In [15]:
IU_Europe.head()

,Internet Stats and Facebook Usage in EuropeJune 2019 Statistics,Internet Stats and Facebook Usage in EuropeJune 2019 Statistics.1,Internet Stats and Facebook Usage in EuropeJune 2019 Statistics.2,Internet Stats and Facebook Usage in EuropeJune 2019 Statistics.3,Internet Stats and Facebook Usage in EuropeJune 2019 Statistics.4,Internet Stats and Facebook Usage in EuropeJune 2019 Statistics.5
0,EUROPE,Population ( 2019 Est. ),"Internet Users, 30-June-2019",Penetration (% Population),Users % in Europe,Facebook 31-Dec-2018
1,Albania,2938428,2160000,73.5 %,0.3 %,1400000
2,Andorra,77072,76242,98.9 %,0.0 %,42000
3,Austria,8766201,7708997,87.9 %,1.1 %,3700000
4,Belarus,9433874,7521628,79.7 %,1.0 %,3850000

In [16]:
IU_Europe.insert(0, 'Region', 'Europe')

In [17]:
IU_EUR = IU_Europe.rename(columns={"Internet Stats and Facebook  Usage in EuropeJune 2019 Statistics": "Countries",
                         "Internet Stats and Facebook  Usage in EuropeJune 2019 Statistics.1": "Population",
                         "Internet Stats and Facebook  Usage in EuropeJune 2019 Statistics.2": "Internet Users",
                         "Internet Stats and Facebook  Usage in EuropeJune 2019 Statistics.3": "Penetration (% Population)",
                         "Internet Stats and Facebook  Usage in EuropeJune 2019 Statistics.4": "Users % in Europe",
                         "Internet Stats and Facebook  Usage in EuropeJune 2019 Statistics.5": 
                                 "Facebook subscribers 31-DEC-2019"})

In [18]:
IU_eur=IU_EUR.drop(index=0, columns=['Users % in Europe', 
                           'Facebook subscribers 31-DEC-2019'])
IU_eur.drop(IU_eur.tail(1).index, inplace=True)
IU_eur.head()

   Region Countries Population Internet Users Penetration (% Population)
1  Europe   Albania    2938428        2160000                    73.5  %
2  Europe   Andorra      77072          76242                     98.9 %
3  Europe   Austria    8766201        7708997                     87.9 %
4  Europe   Belarus    9433874        7521628                     79.7 %
5  Europe   Belgium   11562784       10857126                     93.9 %

In [19]:
#IU_EU.head()

In [20]:
#IU_EU.insert(0, 'Region', 'European Union')

In [21]:
IU_EU.head()

,Internet Users in the European Union - 2020,Internet Users in the European Union - 2020.1,Internet Users in the European Union - 2020.2,Internet Users in the European Union - 2020.3,Internet Users in the European Union - 2020.4,Internet Users in the European Union - 2020.5
0,EUROPEAN UNION,Population ( 2020 Est. ),"Internet Users, 30-June-2020",Penetration (% Population),Users % Table,FACEBOOK 31-MAR-2020
1,Austria,9006398,7920226,87.9 %,2.0 %,4467000
2,Belgium,11589623,10857126,93.7 %,2.7 %,7430.000
3,Bulgaria,6948445,4663065,67.1 %,1.2 %,3858000
4,Croatia,4105267,3787838,92.3 %,1.0 %,2077000

In [22]:
#IU_EURU=IU_EU.rename(columns={"Internet Users in the European Union - 2019": "Countries",
                         #"Internet Users in the European Union - 2019.1": "Population",
                         #"Internet Users in the European Union - 2019.2": "Internet Users",
                         #"Internet Users in the European Union - 2019.3": "Penetration (% Population)",
                         #"Internet Users in the European Union - 2019.4": "Users % Table",
                         #"Internet Users in the European Union - 2019.5": "Facebook subscribers 31-DEC-2018"})

In [23]:
#IU_EURU.head()

In [24]:
#IU_eu=IU_EURU.drop(index=0, columns={'Users % Table', 'Facebook subscribers 31-DEC-2018'})
#IU_eu.drop(IU_eu.tail(1).index, inplace=True)
#IU_eu.head()

In [25]:
IU_ME.head()

,"Middle East Internet Users, Population and Facebook Statistics 2020","Middle East Internet Users, Population and Facebook Statistics 2020.1","Middle East Internet Users, Population and Facebook Statistics 2020.2","Middle East Internet Users, Population and Facebook Statistics 2020.3","Middle East Internet Users, Population and Facebook Statistics 2020.4","Middle East Internet Users, Population and Facebook Statistics 2020.5","Middle East Internet Users, Population and Facebook Statistics 2020.6"
0,MIDDLE EAST,Population ( 2020 Est. ),"Users, in Dec/2000",Internet Usage 31-Mar-2020,% Population (Penetration),Internet % users,Facebook 31-Mar-2020
1,Bahrain,1701575,40000,1615620,94.9 %,0.9 %,1352500
2,Iran,83992949,250000,67602731,80.5 %,36.9 %,40000000
3,Iraq,40222493,12500,21276000,52.9 %,11.6 %,22030000
4,Israel,8655535,1270000,7002759,80.9 %,3.8 %,5920000

In [26]:
IU_ME.insert(0, 'Region', 'Middle East')

In [27]:
IU_ME1=IU_ME.rename(columns={"Middle East Internet Users, Population and Facebook  Statistics 2020": "Countries",
                         "Middle East Internet Users, Population and Facebook  Statistics 2020.1": "Population",
                         "Middle East Internet Users, Population and Facebook  Statistics 2020.2": "Internet Users (yr. 2000)",
                         "Middle East Internet Users, Population and Facebook  Statistics 2020.3": "Internet Users",
                         "Middle East Internet Users, Population and Facebook  Statistics 2020.4": "Penetration (% Population)",
                         "Middle East Internet Users, Population and Facebook  Statistics 2020.5": "Internet % users",
                         "Middle East Internet Users, Population and Facebook  Statistics 2020.6": "Facebook subscribers31-Mar-2020"})

In [28]:
IU_me=IU_ME1.drop(index=0, columns={'Internet Users (yr. 2000)', 'Internet % users',
                                   'Facebook subscribers31-Mar-2020'})
IU_me.drop(IU_me.tail(1).index, inplace=True)
IU_me.head()

        Region Countries Population Internet Users Penetration (% Population)
1  Middle East   Bahrain    1701575        1615620                     94.9 %
2  Middle East      Iran   83992949       67602731                     80.5 %
3  Middle East      Iraq   40222493       21276000                     52.9 %
4  Middle East    Israel    8655535        7002759                     80.9 %
5  Middle East    Jordan   10203134        8700000                     85.3 %

In [29]:
IU_Oceania.head()

,Internet Usage and Population Statistics for Oceania - 2019,Internet Usage and Population Statistics for Oceania - 2019.1,Internet Usage and Population Statistics for Oceania - 2019.2,Internet Usage and Population Statistics for Oceania - 2019.3,Internet Usage and Population Statistics for Oceania - 2019.4,Internet Usage and Population Statistics for Oceania - 2019.5,Internet Usage and Population Statistics for Oceania - 2019.6
0,OCEANIA,Population (2019 Est.),"Users, in Dec/2000","Internet Usage, 30-June-2019",% Population (Penetration),Internet % users,Facebook 31-Dec-2018
1,American Samoa,55727,NaN,24000,43.1 %,0.1 %,22000
2,Antarctica,2700,NaN,4400,100.0 %,0.0 %,1800
3,Australia,25088636,6600000,21711706,86.5 %,75.8 %,15000000
4,"Australia, Ext. Terr.",1651,NaN,NaN,NaN,NaN,NaN

In [30]:
IU_Oceania.insert(0, 'Region', 'Oceania')

In [31]:
IU_O1 = IU_Oceania.dropna()

In [32]:
IU_O2= IU_O1.reset_index(drop=True)

In [33]:
IU_O= IU_O2.rename(columns={"Internet Usage and Population Statistics for Oceania - 2019": "Countries",
                         "Internet Usage and Population Statistics for Oceania - 2019.1": "Population",
                         "Internet Usage and Population Statistics for Oceania - 2019.2": "Internet Users (yr.2000)",
                         "Internet Usage and Population Statistics for Oceania - 2019.3": "Internet Users",
                         "Internet Usage and Population Statistics for Oceania - 2019.4": "Penetration (% Population)",
                         "Internet Usage and Population Statistics for Oceania - 2019.5": "Internet % users",
                         "Internet Usage and Population Statistics for Oceania - 2019.6": "Facebook subscribers 31-DEC-2019"})

In [34]:
IU_oc=IU_O.drop(index=0, columns={'Internet Users (yr.2000)', 'Internet % users', 'Facebook subscribers 31-DEC-2019'})
IU_oc.drop(IU_oc.tail(1).index, inplace=True)
IU_oc.head()

,Region,Countries,Population,Internet Users,Penetration (% Population)
1,Oceania,Australia,25088636,21711706,86.5 %
2,Oceania,Christmas Island,2205,1000,45.4 %
3,Oceania,Fiji,918757,500958,54.5 %
4,Oceania,French Polynesia,288506,209744,72.7 %
5,Oceania,Guam,167245,134649,80.5 %

In [35]:
# World (continents) related data 

csv_file="../01_Extraction/02_Data_Output/Internet_Usage_World.csv"
IU_World= pd.read_csv(csv_file)

In [36]:
IU_W1=IU_World.rename(columns={"WORLD INTERNET USAGE AND POPULATION STATISTICS2020 Year-Q1 Estimates": "World Regions",
                         "WORLD INTERNET USAGE AND POPULATION STATISTICS2020 Year-Q1 Estimates.1": "Population",
                         "WORLD INTERNET USAGE AND POPULATION STATISTICS2020 Year-Q1 Estimates.2": "Population % of World",
                         "WORLD INTERNET USAGE AND POPULATION STATISTICS2020 Year-Q1 Estimates.3": "Internet Users",
                         "WORLD INTERNET USAGE AND POPULATION STATISTICS2020 Year-Q1 Estimates.4": "Penetration Rate (% Pop)",
                         "WORLD INTERNET USAGE AND POPULATION STATISTICS2020 Year-Q1 Estimates.5": "Growth 2000-2020",
                         "WORLD INTERNET USAGE AND POPULATION STATISTICS2020 Year-Q1 Estimates.6": "Internet World %"})

In [37]:
IU_w= IU_W1.drop(IU_W1.index[0])
IU_w.drop(IU_w.tail(1).index, inplace=True)
IU_w.head()

,World Regions,Population,Population % of World,Internet Users,Penetration Rate (% Pop),Growth 2000-2020,Internet World %
1,Africa,1340598447,17.2 %,526710313,39.3 %,"11,567 %",11.3 %
2,Asia,4294516659,55.1 %,2366213308,55.1 %,"1,970 %",50.9 %
3,Europe,834995197,10.7 %,727848547,87.2 %,592 %,15.7 %
4,Latin America / Caribbean,658345826,8.5 %,453702292,68.9 %,"2,411 %",10.0 %
5,Middle East,260991690,3.3 %,183212099,70.2 %,"5,477 %",3.9 %

In [38]:
IU_country = pd.concat([IU_af, 
                        IU_am, 
                        IU_as, 
                        IU_eur, 
                        #IU_eu, 
                        IU_me, 
                        IU_oc
                       ], ignore_index=True, sort=True)

In [39]:
IU_Country = IU_country[["Region", "Countries", "Population", "Internet Users", "Penetration (% Population)"]]
IU_Country.head()

   Region     Countries Population Internet Users Penetration (% Population)
0  Africa       Algeria   43851044       25428159                     58.0 %
1  Africa        Angola   32866272        7078067                     21.5 %
2  Africa         Benin   12123200        3801758                     31.4 %
3  Africa      Botswana    2351627        1116079                     47.5 %
4  Africa  Burkina Faso   20903273        3704265                     17.7 %

In [40]:
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~",""]
for char in spec_chars:
    IU_country['Countries'] = IU_country['Countries'].str.replace(char, '*').str.replace(' ', '&')

In [41]:
## Cleaning the country names ==> IU_country
IU_country

,Countries,Internet Users,Penetration (% Population),Population,Region
0,Algeria,25428159,58.0 %,43851044,Africa
1,Angola,7078067,21.5 %,32866272,Africa
2,Benin,3801758,31.4 %,12123200,Africa
3,Botswana,1116079,47.5 %,2351627,Africa
4,Burkina*Faso,3704265,17.7 %,20903273,Africa
...,...,...,...,...,...
233,Solomon*Islands,75722,11.9 %,635254,Oceania
234,Tokelau,800,59.7%,1340,Oceania
235,Tonga,57822,52.5 %,110041,Oceania
236,Vanuatu,82764,28.7%,288017,Oceania
237,TOTAL*OCEANIA,28636278,68.4 %,41839201,Oceania

In [42]:
IU_country['Countries'].value_counts()

Portugal         1
Colombia         1
United*States    1
Nicaragua        1
Zambia           1
                ..
Suriname         1
Martinique       1
China**          1
Guinea           1
Bermuda          1
Name: Countries, Length: 238, dtype: int64

In [43]:
IU_country['Countries'].unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina*Faso',
       'Burundi', 'Cabo**Verde', 'Cameroon', 'Central*African*Rep*',
       'Chad', 'Comoros', 'Congo', 'Congo***Dem**Rep*', 'Cote**d*Ivoire',
       'Djibouti', 'Egypt', 'Equatorial*Guinea', 'Eritrea', 'Eswatini',
       'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea*Bissau',
       'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi',
       'Mali', 'Mauritania', 'Mauritius', 'Mayotte**FR*', 'Morocco',
       'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Reunion**FR*',
       'Rwanda', 'Saint**Helena**UK*', 'Sao*Tome***Principe', 'Senegal',
       'Seychelles', 'Sierra**Leone', 'Somalia', 'South**Africa',
       'South*Sudan', 'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Uganda',
       'Western*Sahara', 'Zambia', 'Zimbabwe', 'TOTAL*AFRICA', 'Anguilla',
       'Antigua***Barbuda', 'Argentina', 'Aruba', 'Bahamas', 'Barbados',
       'Belize', 'Bermuda', 'Bolivia', 'Bonaire**S*E***Saba', 'Brazil',
       'British*Virgin*Islands', 'Canada', 'Cayman*Islands', 'Chile',
       'Colombia', 'Costa*Rica', 'Cuba', 'Curaao', 'Dominica',
       'Dominican*Republic', 'Ecuador', 'El*Salvador', 'Falkland*Islands',
       'French*Guiana', 'Greenland', 'Grenada', 'Guadeloupe', 'Guatemala',
       'Guyana', 'Haiti', 'Honduras', 'Jamaica', 'Martinique', 'Mexico',
       'Monserrat', 'Nicaragua', 'Panama', 'Paraguay', 'Peru',
       'Puerto*Rico', 'St**Barthlemy***FR*', 'St**Kitts***Nevis',
       'Saint*Lucia', 'St**Martin***FR*', 'St**Pierre***Maquelon',
       'St**Vincent***Grenadines', 'Sint*Maarten**NL*', 'Suriname',
       'Trinidad***Tobago', 'Turks***Caicos', 'United*States', 'Uruguay',
       'US*Virgin*Islands', 'Venezuela', 'TOTAL*ALL*AMERICAS',
       'Afganistan', 'Armenia', 'Azerbaijan', 'Bangladesh', 'Bhutan',
       'Brunei**Darussulam', 'Cambodia', 'China**', 'Georgia',
       'Hong**Kong**', 'India', 'Indonesia', 'Japan', 'Kazakhstan',
       'Korea***North', 'Korea***South', 'Kyrgystan', 'Laos', 'Macao**',
       'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'Pakistan',
       'Philippines', 'Singapore', 'Sri**Lanka', 'Taiwan', 'Tajikistan',
       'Thailand', 'Timor*Leste', 'Turkmenistan', 'Uzbekistan', 'Vietnam',
       'TOTAL*ASIA', 'Albania', 'Andorra', 'Austria', 'Belarus',
       'Belgium', 'Bosnia*Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus',
       'Czech*Republic', 'Denmark', 'Estonia', 'Faroe*Islands', 'Finland',
       'France', 'Germany', 'Gibraltar', 'Greece', 'Guernsey***Alderney',
       'Hungary', 'Iceland', 'Ireland', 'Italy', 'Jersey', 'Kosovo',
       'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta',
       'Man**Isle*of', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands',
       'North*Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania',
       'Russia', 'San*Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain',
       'Svalbard***Jan*Mayen', 'Sweden', 'Switzerland', 'Turkey',
       'Ukraine', 'United*Kingdom', 'Vatican*City*State', 'TOTAL*EUROPE',
       'Bahrain', 'Iran', 'Iraq', 'Israel', 'Jordan', 'Kuwait', 'Lebanon',
       'Oman', 'Palestine**State*of*', 'Qatar', 'Saudi*Arabia', 'Syria',
       'United*Arab*Emirates', 'Yemen', 'TOTAL*Middle*East', 'Australia',
       'Christmas**Island', 'Fiji', 'French*Polynesia', 'Guam',
       'Kiribati', 'Marshall*Islands', 'Micronesia', 'New*Caledonia',
       'New*Zealand', 'Niue', 'Papau*New*Guinea', 'Samoa',
       'Solomon*Islands', 'Tokelau', 'Tonga', 'Vanuatu', 'TOTAL*OCEANIA'],
      dtype=object)

In [44]:
IU_country['Countries'] = IU_country['Countries'].replace({
    'Burkina*Faso' : 'Burkina Faso',
    'Cabo**Verde' : 'Cabo Verde', 
    'Central*African*Rep*' : 'Central African Republic',
    'Congo***Dem**Rep*' : 'Congo Democratic Republic',
    'Cote**d*Ivoire' : "Cote d'Ivoire",
    'Equatorial*Guinea' : 'Equatorial Guinea', 
    'Guinea*Bissau' : 'Guinea Bissau', 
    'Mayotte**FR*' : 'Mayotte FR', 
    'Reunion**FR*' : 'Reunion FR',
    'Saint**Helena**UK*' : 'Saint Helena UK', 
    'Sao*Tome***Principe' : 'Sao Tome Principe', 
    'Sierra**Leone' : 'Sierra Leone', 
    'South**Africa' : 'South Africa',
    'South*Sudan' : 'South Sudan',
    'Western*Sahara' : 'Western Sahara', 
    'Antigua***Barbuda' : 'Antigua And Barbuda', 
    'Bonaire**S*E***Saba' : 'Bonaire SE Saba',
    'British*Virgin*Islands' : 'British Virgin Islands', 
    'Cayman*Islands' : 'Cayman Islands',
    'Costa*Rica' : 'Costa Rica', 
    'Dominican*Republic' : 'Dominican Republic',
    'El*Salvador' : 'El Salvador',
    'Falkland*Islands' : 'Falkland Islands',
    'French*Guiana' : 'French Guiana', 
    'Puerto*Rico' : 'Puerto Rico', 
    'St**Barthlemy***FR*' : 'St Barthlemy FR', 
    'St**Kitts***Nevis' : 'St Kitts Nevis',
    'Saint*Lucia' : 'Saint Lucia',
    'St**Martin***FR*' : 'St Martin FR',
    'St**Pierre***Maquelon' : 'St Pierre Maquelon',
    'St**Vincent***Grenadines' : 'St Vincent Grenadines' ,
    'Sint*Maarten**NL*' : 'Sint Maarten NL',
    'Trinidad***Tobago': 'Trinidad And Tobago',
    'Turks***Caicos': 'Turks Caicos', 
    'United*States' : 'United States',
    'US*Virgin*Islands' : 'US Virgin Islands',
    'Brunei**Darussulam' : 'Brunei Darussulam',
    'China**' : 'China' ,
    'Hong**Kong**' : 'Hong Kong',
    'Korea***North' : 'North Korea', 
    'Korea***South' : 'South Korea',
    'Macao**' : 'Macao',
    'Sri**Lanka' : 'Sri Lanka',
    'Timor*Leste' : 'Timor Leste', 
    'Bosnia*Herzegovina' : 'Bosnia Herzegovina',
    'Czech*Republic' : 'Czech Republic',
    'Faroe*Islands' : 'Faroe Islands', 
    'Guernsey***Alderney' : 'Guernsey Alderney',
    'Man**Isle*of' : 'Man Isle of', 
    'North*Macedonia' : 'North Macedonia',
    'San*Marino' : 'San Marino', 
    'Svalbard***Jan*Mayen' : 'Svalbard Jan Mayen',
    'United*Kingdom' : 'United Kingdom', 
    'Vatican*City*State' : 'Vatican City State',
    'Palestine**State*of*' : 'Palestine',
    'Saudi*Arabia' : 'Saudi Arabia',
    'United*Arab*Emirates' : 'United Arab Emirates',
    'Christmas**Island' : 'Christmas Island', 
    'French*Polynesia' : 'French Polynesia',
    'Marshall*Islands' : 'Marshall Islands', 
    'New*Caledonia' : 'New Caledonia',
    'New*Zealand' : 'New Zealand', 
    'Papau*New*Guinea' : 'Papau New Guinea', 
    'Solomon*Islands' : 'Solomon Islands'
    
})

In [45]:
IU_country['Countries'].unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Burundi', 'Cabo Verde', 'Cameroon', 'Central African Republic',
       'Chad', 'Comoros', 'Congo', 'Congo Democratic Republic',
       "Cote d'Ivoire", 'Djibouti', 'Egypt', 'Equatorial Guinea',
       'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana',
       'Guinea', 'Guinea Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Libya',
       'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Mayotte FR', 'Morocco', 'Mozambique', 'Namibia', 'Niger',
       'Nigeria', 'Reunion FR', 'Rwanda', 'Saint Helena UK',
       'Sao Tome Principe', 'Senegal', 'Seychelles', 'Sierra Leone',
       'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania',
       'Togo', 'Tunisia', 'Uganda', 'Western Sahara', 'Zambia',
       'Zimbabwe', 'TOTAL*AFRICA', 'Anguilla', 'Antigua And Barbuda',
       'Argentina', 'Aruba', 'Bahamas', 'Barbados', 'Belize', 'Bermuda',
       'Bolivia', 'Bonaire SE Saba', 'Brazil', 'British Virgin Islands',
       'Canada', 'Cayman Islands', 'Chile', 'Colombia', 'Costa Rica',
       'Cuba', 'Curaao', 'Dominica', 'Dominican Republic', 'Ecuador',
       'El Salvador', 'Falkland Islands', 'French Guiana', 'Greenland',
       'Grenada', 'Guadeloupe', 'Guatemala', 'Guyana', 'Haiti',
       'Honduras', 'Jamaica', 'Martinique', 'Mexico', 'Monserrat',
       'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Puerto Rico',
       'St Barthlemy FR', 'St Kitts Nevis', 'Saint Lucia',
       'St Martin FR', 'St Pierre Maquelon', 'St Vincent Grenadines',
       'Sint Maarten NL', 'Suriname', 'Trinidad And Tobago',
       'Turks Caicos', 'United States', 'Uruguay', 'US Virgin Islands',
       'Venezuela', 'TOTAL*ALL*AMERICAS', 'Afganistan', 'Armenia',
       'Azerbaijan', 'Bangladesh', 'Bhutan', 'Brunei Darussulam',
       'Cambodia', 'China', 'Georgia', 'Hong Kong', 'India', 'Indonesia',
       'Japan', 'Kazakhstan', 'North Korea', 'South Korea', 'Kyrgystan',
       'Laos', 'Macao', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar',
       'Nepal', 'Pakistan', 'Philippines', 'Singapore', 'Sri Lanka',
       'Taiwan', 'Tajikistan', 'Thailand', 'Timor Leste', 'Turkmenistan',
       'Uzbekistan', 'Vietnam', 'TOTAL*ASIA', 'Albania', 'Andorra',
       'Austria', 'Belarus', 'Belgium', 'Bosnia Herzegovina', 'Bulgaria',
       'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia',
       'Faroe Islands', 'Finland', 'France', 'Germany', 'Gibraltar',
       'Greece', 'Guernsey Alderney', 'Hungary', 'Iceland', 'Ireland',
       'Italy', 'Jersey', 'Kosovo', 'Latvia', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Malta', 'Man Isle of', 'Moldova',
       'Monaco', 'Montenegro', 'Netherlands', 'North Macedonia', 'Norway',
       'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Serbia',
       'Slovakia', 'Slovenia', 'Spain', 'Svalbard Jan Mayen', 'Sweden',
       'Switzerland', 'Turkey', 'Ukraine', 'United Kingdom',
       'Vatican City State', 'TOTAL*EUROPE', 'Bahrain', 'Iran', 'Iraq',
       'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Oman', 'Palestine',
       'Qatar', 'Saudi Arabia', 'Syria', 'United Arab Emirates', 'Yemen',
       'TOTAL*Middle*East', 'Australia', 'Christmas Island', 'Fiji',
       'French Polynesia', 'Guam', 'Kiribati', 'Marshall Islands',
       'Micronesia', 'New Caledonia', 'New Zealand', 'Niue',
       'Papau New Guinea', 'Samoa', 'Solomon Islands', 'Tokelau', 'Tonga',
       'Vanuatu', 'TOTAL*OCEANIA'], dtype=object)

In [46]:
IU_country.head()

      Countries Internet Users Penetration (% Population) Population  Region
0       Algeria       25428159                     58.0 %   43851044  Africa
1        Angola        7078067                     21.5 %   32866272  Africa
2         Benin        3801758                     31.4 %   12123200  Africa
3      Botswana        1116079                     47.5 %    2351627  Africa
4  Burkina Faso        3704265                     17.7 %   20903273  Africa

In [47]:
IU_Country['Countries']= IU_Country['Countries'].str.split().str.join(" ")

In [48]:
IU_Country

,Region,Countries,Population,Internet Users,Penetration (% Population)
0,Africa,Algeria,43851044,25428159,58.0 %
1,Africa,Angola,32866272,7078067,21.5 %
2,Africa,Benin,12123200,3801758,31.4 %
3,Africa,Botswana,2351627,1116079,47.5 %
4,Africa,Burkina Faso,20903273,3704265,17.7 %
...,...,...,...,...,...
233,Oceania,Solomon Islands,635254,75722,11.9 %
234,Oceania,Tokelau,1340,800,59.7%
235,Oceania,Tonga,110041,57822,52.5 %
236,Oceania,Vanuatu,288017,82764,28.7%
237,Oceania,TOTAL OCEANIA,41839201,28636278,68.4 %

In [49]:
IU_country.to_csv("C2.csv", index=False, header=True)

In [50]:
IU_Country.count()

Region                        238
Countries                     238
Population                    238
Internet Users                238
Penetration (% Population)    238
dtype: int64

In [51]:
#IU_Country['Countries']=IU_Country.Countries.str.replace("*", "")

In [52]:
IU_country.to_csv("C1.csv", index=False, header=True)

In [53]:
# latitude and longitude File

csv_file="../01_Extraction/02_Data_Output/Lat_Long_Coordinates.csv"
lat_lon= pd.read_csv(csv_file)

In [54]:
l1=lat_lon.drop(columns={'id', 'iso2Code', 'region', 'adminregion', 'incomeLevel',
       'lendingType', 'capitalCity'})

l_1= l1.rename(columns={"name": "Countries",
                         "longitude": "Longitude",
                         "latitude": "Latitude"})

In [55]:
l2= l_1.dropna()

In [56]:
l2['Countries']= l2['Countries'].str.strip()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

# Latyr's code => l2

In [57]:
l2

        Countries  Longitude  Latitude
0           Aruba   -70.0167  12.51670
1     Afghanistan    69.1761  34.52280
3          Angola    13.2420  -8.81155
4         Albania    19.8172  41.33170
5         Andorra     1.5218  42.50750
..            ...        ...       ...
298        Kosovo    20.9260  42.56500
300   Yemen, Rep.    44.2075  15.35200
301  South Africa    28.1871 -25.74600
302        Zambia    28.2937 -15.39820
303      Zimbabwe    31.0672 -17.83120

[211 rows x 3 columns]

In [58]:
l2 = l2.sort_values('Countries', ascending = True)

In [59]:
l2

                 Countries  Longitude  Latitude
1              Afghanistan   69.17610   34.5228
4                  Albania   19.81720   41.3317
83                 Algeria    3.05097   36.7397
11          American Samoa -170.69100  -14.2846
5                  Andorra    1.52180   42.5075
..                     ...        ...       ...
294                Vietnam  105.82500   21.0069
293  Virgin Islands (U.S.)  -64.89630   18.3358
300            Yemen, Rep.   44.20750   15.3520
302                 Zambia   28.29370  -15.3982
303               Zimbabwe   31.06720  -17.8312

[211 rows x 3 columns]

In [60]:
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~",""]
for char in spec_chars:
    l2['Countries'] = l2['Countries'].str.replace(char, '*').str.replace(' ', '&')

In [61]:
l2['Countries'].value_counts()

Portugal                 1
Spain                    1
Solomon*Islands          1
Poland                   1
Mongolia                 1
                        ..
Madagascar               1
Mali                     1
Guinea                   1
Micronesia**Fed**Sts*    1
Bermuda                  1
Name: Countries, Length: 211, dtype: int64

In [62]:
l2['Countries'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American*Samoa', 'Andorra',
       'Angola', 'Antigua*and*Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas**The', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia*and*Herzegovina',
       'Botswana', 'Brazil', 'British*Virgin*Islands',
       'Brunei*Darussalam', 'Bulgaria', 'Burkina*Faso', 'Burundi',
       'Cabo*Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman*Islands',
       'Central*African*Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo**Dem**Rep*', 'Congo**Rep*', 'Costa*Rica',
       'Cote*d*Ivoire', 'Croatia', 'Cuba', 'Cyprus', 'Czech*Republic',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican*Republic', 'Ecuador',
       'Egypt**Arab*Rep*', 'El*Salvador', 'Equatorial*Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Faroe*Islands', 'Fiji',
       'Finland', 'France', 'French*Polynesia', 'Gabon', 'Gambia**The',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada',
       'Guam', 'Guatemala', 'Guinea', 'Guinea*Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hong*Kong*SAR**China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran**Islamic*Rep*', 'Iraq', 'Ireland',
       'Isle*of*Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Korea**Dem**Peoples*Rep*',
       'Korea**Rep*', 'Kosovo', 'Kuwait', 'Kyrgyz*Republic', 'Lao*PDR',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao*SAR**China',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall*Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia**Fed**Sts*', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New*Caledonia', 'New*Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North*Macedonia',
       'Northern*Mariana*Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua*New*Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto*Rico', 'Qatar', 'Romania',
       'Russian*Federation', 'Rwanda', 'Samoa', 'San*Marino',
       'Sao*Tome*and*Principe', 'Saudi*Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra*Leone', 'Singapore', 'Slovak*Republic',
       'Slovenia', 'Solomon*Islands', 'Somalia', 'South*Africa',
       'South*Sudan', 'Spain', 'Sri*Lanka', 'St**Kitts*and*Nevis',
       'St**Lucia', 'St**Vincent*and*the*Grenadines', 'Sudan', 'Suriname',
       'Sweden', 'Switzerland', 'Syrian*Arab*Republic', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor*Leste', 'Togo', 'Tonga',
       'Trinidad*and*Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks*and*Caicos*Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United*Arab*Emirates', 'United*Kingdom', 'United*States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela**RB', 'Vietnam',
       'Virgin*Islands**U*S**', 'Yemen**Rep*', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [63]:
l2['Countries'] = l2['Countries'].replace({
    'American*Samoa' : 'Samoa', 
    'Antigua*and*Barbuda' : 'Antigua And Barbuda', 
    'Bahamas**The' : 'Bahamas', 
    'Bosnia*and*Herzegovina' : 'Bosnia Herzegovina',
    'British*Virgin*Islands' : 'British Virgin Islands',
    'Burkina*Faso' : 'Burkina Faso',
    'Cabo*Verde' : 'Cabo Verde',
    'Cayman*Islands' : 'Cayman Islands',
    'Central*African*Republic' : 'Central African Republic', 
    'Congo**Dem**Rep*' : 'Congo Democratic Republic', 
    'Congo**Rep*' : 'Congo', 
    'Costa*Rica' : 'Costa Rica',
    'Cote*d*Ivoire' : "Cote d'Ivoire", 
    'Czech*Republic' : 'Czech Republic',
    'Dominican*Republic' : 'Dominican Republic',
    'Egypt**Arab*Rep*' : 'Egypt', 
    'El*Salvador' : 'El Salvador', 
    'Equatorial*Guinea' : 'Equatorial Guinea', 
    'Faroe*Islands' : 'Faroe Islands', 
    'French*Polynesia' : 'French Polynesia', 
    'Gambia**The' : 'Gambia',
    'Hong*Kong*SAR**China' : 'Hong Kong', 
    'Iran**Islamic*Rep*' : 'Iran',
    'Isle*of*Man' : 'Man Isle of', 
    'Korea**Dem**Peoples*Rep*' : 'South Korea',
    'Korea**Rep*' : 'North Korea', 
    'Kyrgyz*Republic' : 'Kyrgyz Republic', 
    'Lao*PDR' : 'Laos',
    'Macao*SAR**China' : 'Macao',
    'Marshall*Islands' : 'Marshall Islands', 
    'Micronesia**Fed**Sts*' : 'Micronesia', 
    'New*Caledonia' : 'New Caledonia', 
    'New*Zealand' : 'New Zealand',
    'North*Macedonia' : 'North Macedonia',
    'Northern*Mariana*Islands' : 'Northern Mariana Islands', 
    'Papua*New*Guinea' : 'Papau New Guinea',
    'Russian*Federation' : 'Russia', 
    'San*Marino' : 'San Marino',
    'Sao*Tome*and*Principe' : 'Sao Tome Principe', 
    'Saudi*Arabia' : 'Saudi Arabia', 
    'Sierra*Leone' : 'Sierra Leone', 
    'Slovak*Republic' : 'Slovakia',
    'Solomon*Islands' : 'Solomon Islands', 
    'South*Africa' : 'South Africa',
    'South*Sudan' : 'South Sudan', 
    'Sri*Lanka' : 'Sri Lanka', 
    'St**Kitts*and*Nevis' : 'St Kitts Nevis',
    'St**Lucia' : 'Saint Lucia', 
    'St**Vincent*and*the*Grenadines' : 'St Vincent Grenadines', 
    'Syrian*Arab*Republic' : 'Syria', 
    'Trinidad*and*Tobago' : 'Trinidad And Tobago',
    'Turks*and*Caicos*Islands' : 'Turks Caicos',
    'United*Arab*Emirates' : 'United Arab Emirates', 
    'United*Kingdom' : 'United Kingdom', 
    'United*States' : 'United States',
    'Venezuela**RB' : 'Venezuela',
    'Virgin*Islands**U*S**' : 'US Virgin Islands', 
    'Yemen**Rep*' : 'Yemen'
})

In [64]:
l2['Countries'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Samoa', 'Andorra', 'Angola',
       'Antigua And Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia Herzegovina', 'Botswana',
       'Brazil', 'British Virgin Islands', 'Brunei*Darussalam',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia',
       'Cameroon', 'Canada', 'Cayman Islands', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo Democratic Republic', 'Congo', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Faroe Islands', 'Fiji', 'Finland',
       'France', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada', 'Guam',
       'Guatemala', 'Guinea', 'Guinea*Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Man Isle of', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'South Korea', 'North Korea', 'Kosovo', 'Kuwait',
       'Kyrgyz Republic', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macao', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali',
       'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Northern Mariana Islands',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papau New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto*Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'San Marino', 'Sao Tome Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Sudan', 'Spain', 'Sri Lanka', 'St Kitts Nevis',
       'Saint Lucia', 'St Vincent Grenadines', 'Sudan', 'Suriname',
       'Sweden', 'Switzerland', 'Syria', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor*Leste', 'Togo', 'Tonga', 'Trinidad And Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Turks Caicos', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'US Virgin Islands', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [65]:
l2.to_csv("l1.csv", index=False, header=True)

In [66]:
l2.count()

Countries    211
Longitude    211
Latitude     211
dtype: int64

In [67]:
# merging the country details with latitude & Longitude file 

country_details= pd.merge(IU_country, l2, on='Countries', how='inner')
country_details.drop_duplicates(subset="Countries", keep='first', inplace=True)

In [68]:
country_details.count()

Countries                     200
Internet Users                200
Penetration (% Population)    200
Population                    200
Region                        200
Longitude                     200
Latitude                      200
dtype: int64

In [69]:
# Exporting files
country_details.to_csv("Country_details1.csv", index=False, header=True)
#IU_w.to_csv("world_details.csv", index=False, header=True)

In [70]:
## New File path
# Web Index Files
from pandas import ExcelFile
excel_file = "../01_Extraction/02_Data_Output/Web_Index-Data_2014.xlsx"
WI= pd.read_excel(excel_file, 'Ranks & Scores ')

In [71]:
WI1=WI[['Alphabetically', 'Overall score']]
WI_1= WI1.rename(columns={"Alphabetically" : "Countries"})

WI2=WI[['sub-index', 'Universal Access']]
WI_2= WI2.rename(columns={"sub-index" : "Countries"})

WI3= WI[['sub-index.1', 'Freedom & Openness']]
WI_3= WI3.rename(columns={"sub-index.1" : "Countries"})

WI4= WI[['sub-index.2', 'Relevant content']]
WI_4= WI4.rename(columns={"sub-index.2" : "Countries"})

WI5=WI[['sub-index.3', 'Empowerment']]
WI_5= WI5.rename(columns={"sub-index.3" : "Countries"})

In [72]:
# Web Index - Overall Score
WebIndex_1= WI_1.merge(country_details[['Countries', 'Longitude', 'Latitude']], how='inner')

WebIndex_1.drop_duplicates(subset="Countries", keep=False, inplace=True)
Webindex_1=WebIndex_1.reset_index(drop=True)

Webindex_1.count()

Countries        79
Overall score    79
Longitude        79
Latitude         79
dtype: int64

In [73]:
# Web Index - Universal Access
WebIndex_2= pd.merge(Webindex_1,WI_2, on='Countries', how='inner')

WebIndex_2.drop_duplicates(subset="Countries", keep=False, inplace=True)
Webindex_2=WebIndex_2.reset_index(drop=True)

Webindex_2.count()

Countries           79
Overall score       79
Longitude           79
Latitude            79
Universal Access    79
dtype: int64

In [74]:
# Web Index - Freedom & openess
WebIndex_3= pd.merge(Webindex_2,WI_3, on='Countries', how='inner')

WebIndex_3.drop_duplicates(subset="Countries", keep=False, inplace=True)
Webindex_3=WebIndex_3.reset_index(drop=True)

Webindex_3.count()

Countries             79
Overall score         79
Longitude             79
Latitude              79
Universal Access      79
Freedom & Openness    79
dtype: int64

In [75]:
# Web Index - Relevant content
WebIndex_4= pd.merge(Webindex_3,WI_4, on='Countries', how='inner')

WebIndex_4.drop_duplicates(subset="Countries", keep=False, inplace=True)
Webindex_4=WebIndex_4.reset_index(drop=True)

Webindex_4.count()

Countries             79
Overall score         79
Longitude             79
Latitude              79
Universal Access      79
Freedom & Openness    79
Relevant content      79
dtype: int64

In [76]:
# Web Index - Empowerment
WebIndex_5= pd.merge(Webindex_4,WI_5, on='Countries', how='inner')

WebIndex_5.drop_duplicates(subset="Countries", keep=False, inplace=True)
Webindex_5=WebIndex_5.reset_index(drop=True)

In [77]:
WebIndex = WebIndex_5.round(1)

In [78]:
# Cost & speed by country File
csv_file="../01_Extraction/02_Data_Output/Internet_Cost_Speed_By_Country.csv"
cost_speed= pd.read_csv(csv_file)

In [79]:
cost_speed_1 = cost_speed.rename(columns={"Country": "Countries"})

In [80]:
cost_speed_2= cost_speed_1.merge(country_details['Countries'], how='inner')

In [81]:
cost_speed_3= cost_speed_2.round(1)

In [82]:
# Exporting file
WebIndex.to_csv("Web_Index.csv", index=False, header=True)
cost_speed_3.to_csv("Cost & Speed.csv", index=False, header= True)

In [83]:
# exporting in JSON format
WebIndex.to_json("Web_Index.json", orient='records')
country_details.to_json("Country_details.json",orient='records')
IU_w.to_json("world_details.json",orient='records')
cost_speed_3.to_json("Cost & Speed.json", orient='records')

In [84]:
# Pushing to SQL 
c1 = country_details.rename(columns={'Internet Users': 'internet_users', 'Penetration (% Population)': 'penetration',
                                    'Population': 'population', 'Region': 'region', 'Longitude': 'longitude', 
                                     'Latitude': 'latitude'})

In [85]:
w1 = IU_w.rename(columns={"World Regions": "World_regions", "Population % of World": "Pop", 
                      "Internet Users": "Internet_users", "Penetration Rate (% Pop)": "Penetration_rate",
                      "Growth 2000-2020": "Growth", "Internet World %": "Internet_World" })

In [86]:
WI1 = WebIndex.rename(columns={"Overall score": "Overall_score", "Universal Access": "Universal_access", 
                        "Freedom & Openness": "Freedom_openness","Relevant content": "Relevant_content"})

In [87]:
c1.reset_index(drop=True, inplace=True)

In [88]:
c1.columns = map(str.lower, c1.columns)

In [89]:
w1.columns = map(str.lower, w1.columns)
w1.head()

,world_regions,population,pop,internet_users,penetration_rate,growth,internet_world
1,Africa,1340598447,17.2 %,526710313,39.3 %,"11,567 %",11.3 %
2,Asia,4294516659,55.1 %,2366213308,55.1 %,"1,970 %",50.9 %
3,Europe,834995197,10.7 %,727848547,87.2 %,592 %,15.7 %
4,Latin America / Caribbean,658345826,8.5 %,453702292,68.9 %,"2,411 %",10.0 %
5,Middle East,260991690,3.3 %,183212099,70.2 %,"5,477 %",3.9 %

In [90]:
WI1.columns = map(str.lower, WI1.columns)

In [91]:
cost_speed_3.columns = map(str.lower, cost_speed_3.columns)

In [92]:
# Creating Database connection
#connection_string = "postgres:Anu@1101@localhost:5432/Project_3"
#engine = create_engine(f'postgresql://{connection_string}')
#connection = engine.raw_connection()

In [93]:
url = 'postgresql://{user}:{pw}@{url}/{db}'.format(user="postgres",pw="postgres",url="localhost",db="Internet_DB")
engine = create_engine(url)

In [94]:
# Confirm tables
#engine.table_names()

In [95]:
c1.to_sql('country',con=engine, if_exists='replace', index=False)

In [96]:
w1.head()

,world_regions,population,pop,internet_users,penetration_rate,growth,internet_world
1,Africa,1340598447,17.2 %,526710313,39.3 %,"11,567 %",11.3 %
2,Asia,4294516659,55.1 %,2366213308,55.1 %,"1,970 %",50.9 %
3,Europe,834995197,10.7 %,727848547,87.2 %,592 %,15.7 %
4,Latin America / Caribbean,658345826,8.5 %,453702292,68.9 %,"2,411 %",10.0 %
5,Middle East,260991690,3.3 %,183212099,70.2 %,"5,477 %",3.9 %

In [97]:
w1.to_sql(name='world', con=engine, if_exists='replace', index=False)

In [98]:
WI1.to_sql(name='wi', con=engine, if_exists='replace', index=False)

In [99]:
cost_speed_3.to_sql(name = 'cost_speed',con=engine, if_exists='replace', index=False)