# 1. Json

In [1]:
# Dependencies
import json
import requests
import pandas as pd
from pprint import pprint

# 2. Url A

In [2]:
#url = 'https://ourworldindata.org/grapher/data/variables/2209+41+72+123.json?v=1'
url = 'https://ourworldindata.org/grapher/data/variables/99383.json?v=3'

In [3]:
Get_Data = requests.get(url).json()

In [4]:
#pprint(get_data)

## 2.1. Country Data

In [5]:
Country_ID = []
Country_Name = []
Country_Code = []

for E in Get_Data['entityKey']:
    Country_ID.append(E)
    Country_Name.append(Get_Data['entityKey'][E]['name'])
    Country_Code.append(Get_Data['entityKey'][E]['code'])

In [6]:
print(Country_ID)
len(Country_ID)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100', '101', '102', '103', '104', '105', '106', '107', '108', '109', '110', '111', '112', '113', '114', '115', '116', '117', '118', '119', '120', '121', '122', '123', '124', '125', '126', '127', '128', '129', '130', '131', '132', '133', '134', '135', '136', '137', '138', '139', '140', '141', '142', '143', '144', '145', '146', '147', '148', '149', '150', '151', '152', '153', '154', '155', '156', '157', '158', '159', '160', '161', '162', '163', '164', '165', '166', '167', '168', '169', '170', '171', '172', '173', '174', '195', '201', '202', '203', '204', '206', '207', '208', '210', '211', '212', '213', '215', '217', '219', '220', '221', '222', '225', '226', '229', '230', '232', '233', '234', '235', '238', '239', '254', '256', '258', '259', '262', '279', '289', '355']

193

In [7]:
print(Country_Code)
len(Country_Code)

['GBR', 'IRL', 'FRA', 'BEL', 'NLD', 'DEU', 'CHE', 'ITA', 'ESP', 'SWE', 'POL', 'RUS', 'USA', 'JPN', 'AFG', 'ALB', 'DZA', 'AGO', 'ATG', 'ARG', 'ARM', 'AUS', 'AUT', 'AZE', 'BHS', 'BHR', 'BGD', 'BRB', 'BLR', 'BLZ', 'BEN', 'BTN', 'BOL', 'BIH', 'BWA', 'BRA', 'BRN', 'BGR', 'BFA', 'BDI', 'KHM', 'CMR', 'CAN', 'CPV', 'ZMB', 'YEM', 'UZB', 'URY', 'TZA', 'EGY', 'MKD', 'UKR', 'UGA', 'TKM', 'TUR', 'TUN', 'ARE', 'TTO', 'TGO', 'THA', 'TJK', 'SWZ', 'SDN', 'ZWE', 'ZAF', 'SOM', 'SVN', 'VNM', 'SVK', 'SGP', 'SLE', 'SEN', 'SAU', 'RWA', 'ROU', 'PRI', 'GNB', 'PRT', 'PHL', 'PER', 'PRY', 'PNG', 'PAN', 'PAK', 'NOR', 'NGA', 'NER', 'NIC', 'NZL', 'NPL', 'NAM', 'MOZ', 'MAR', 'MDA', 'MNG', 'MEX', 'MRT', 'MLI', 'MYS', 'MWI', 'MDG', 'LTU', 'LBY', 'LBR', 'LVA', 'LSO', 'LBN', 'LAO', 'KGZ', 'KOR', 'PRK', 'KEN', 'JOR', 'KAZ', 'JAM', 'ISR', 'IRQ', 'IRN', 'IDN', 'IND', 'HUN', 'HND', 'PSE', 'LKA', 'MMR', 'CIV', 'HKG', 'HTI', 'GUY', 'GIN', 'GTM', 'GRC', 'GHA', 'GMB', 'GEO', 'GAB', 'DJI', 'FIN', 'EST', 'ERI', 'ETH', 'GNQ', 'DOM', 'DNK', 'CZE', 'CYP', 'CUB', 'HRV', 'CRI', 'COD', 'COG', 'COM', 'COL', 'CHN', 'CHL', 'TCD', 'CAF', 'SLB', 'ECU', 'FJI', 'PYF', 'KIR', 'GRD', 'ISL', 'KWT', 'LUX', 'MDV', 'MLT', 'MUS', 'MNE', 'OMN', 'ABW', 'NCL', 'VUT', 'FSM', 'TLS', 'QAT', 'LCA', 'VCT', 'STP', 'SYC', 'SUR', 'TON', 'VEN', 'WSM', 'GUM', 'VIR', 'SSD', 'SLV', 'MAC', 'CUW', None, 'OWID_WRL']

193

In [8]:
print(Country_Name)
len(Country_Name)

['United Kingdom', 'Ireland', 'France', 'Belgium', 'Netherlands', 'Germany', 'Switzerland', 'Italy', 'Spain', 'Sweden', 'Poland', 'Russia', 'United States', 'Japan', 'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Zambia', 'Yemen', 'Uzbekistan', 'Uruguay', 'Tanzania', 'Egypt', 'Macedonia', 'Ukraine', 'Uganda', 'Turkmenistan', 'Turkey', 'Tunisia', 'United Arab Emirates', 'Trinidad and Tobago', 'Togo', 'Thailand', 'Tajikistan', 'Swaziland', 'Sudan', 'Zimbabwe', 'South Africa', 'Somalia', 'Slovenia', 'Vietnam', 'Slovakia', 'Singapore', 'Sierra Leone', 'Senegal', 'Saudi Arabia', 'Rwanda', 'Romania', 'Puerto Rico', 'Guinea-Bissau', 'Portugal', 'Philippines', 'Peru', 'Paraguay', 'Papua New Guinea', 'Panama', 'Pakistan', 'Norway', 'Nigeria', 'Niger', 'Nicaragua', 'New Zealand', 'Nepal', 'Namibia', 'Mozambique', 'Morocco', 'Moldova', 'Mongolia', 'Mexico', 'Mauritania', 'Mali', 'Malaysia', 'Malawi', 'Madagascar', 'Lithuania', 'Libya', 'Liberia', 'Latvia', 'Lesotho', 'Lebanon', 'Laos', 'Kyrgyzstan', 'South Korea', 'North Korea', 'Kenya', 'Jordan', 'Kazakhstan', 'Jamaica', 'Israel', 'Iraq', 'Iran', 'Indonesia', 'India', 'Hungary', 'Honduras', 'Palestine', 'Sri Lanka', 'Myanmar', "Cote d'Ivoire", 'Hong Kong', 'Haiti', 'Guyana', 'Guinea', 'Guatemala', 'Greece', 'Ghana', 'Gambia', 'Georgia', 'Gabon', 'Djibouti', 'Finland', 'Estonia', 'Eritrea', 'Ethiopia', 'Equatorial Guinea', 'Dominican Republic', 'Denmark', 'Czech Republic', 'Cyprus', 'Cuba', 'Croatia', 'Costa Rica', 'Democratic Republic of Congo', 'Congo', 'Comoros', 'Colombia', 'China', 'Chile', 'Chad', 'Central African Republic', 'Solomon Islands', 'Ecuador', 'Fiji', 'French Polynesia', 'Kiribati', 'Grenada', 'Iceland', 'Kuwait', 'Luxembourg', 'Maldives', 'Malta', 'Mauritius', 'Montenegro', 'Oman', 'Aruba', 'New Caledonia', 'Vanuatu', 'Micronesia (country)', 'Timor', 'Qatar', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Sao Tome and Principe', 'Seychelles', 'Suriname', 'Tonga', 'Venezuela', 'Samoa', 'Guam', 'United States Virgin Islands', 'South Sudan', 'El Salvador', 'Macao', 'Curacao', 'Sub-Saharan Africa', 'World']

193

In [9]:
Country_df = pd.DataFrame({
    'Country_ID'    : Country_ID,
    'Country_Code'  : Country_Code,
    'Country_Name'  : Country_Name
    
})

In [10]:
Country_df

    Country_ID Country_Code        Country_Name
0            1          GBR      United Kingdom
1            2          IRL             Ireland
2            3          FRA              France
3            4          BEL             Belgium
4            5          NLD         Netherlands
..         ...          ...                 ...
188        259          SLV         El Salvador
189        262          MAC               Macao
190        279          CUW             Curacao
191        289         None  Sub-Saharan Africa
192        355     OWID_WRL               World

[193 rows x 3 columns]

In [17]:
# Export to CSV
Country_df.to_csv("../../data_source/Country_df.csv",
                   index=False, 
                   header=True
                  )

## 2.2 Values

In [11]:
Country_ID    = []
Country_Value = []
Country_Years = []

for V in Get_Data['variables']:
    Country_ID.append(Get_Data['variables']['99383']['entities'])
    Country_Value.append(Get_Data['variables']['99383']['values'])
    Country_Years.append(Get_Data['variables']['99383']['years'])

In [12]:
Country_ID = []
Country_Value = []
Country_Years = []


IDs      = Get_Data['variables']['99383']['entities'] 
Values   = Get_Data['variables']['99383']['values']
Years    = Get_Data['variables']['99383']['years']
    
    
for I in IDs:
    Country_ID.append(I)

for V in Values:
    Country_Value.append(V)
    
for Y in Years:
    Country_Years.append(Y)

In [13]:
#print(Country_ID)

In [14]:
Country_Values_df = pd.DataFrame({
    'Country_ID'     : Country_ID,
    'Country_Years'  : Country_Years,
    'Country_Value'  : Country_Value
})

In [15]:
Country_Values_df

      Country_ID  Country_Value  Country_Years
0             15              0           1990
1             16              0           1990
2             17              0           1990
3             19              0           1990
4             20              0           1990
...          ...            ...            ...
4531          75       36515273           2017
4532          74         963813           2017
4533          71        6400330           2017
4534          70       52229607           2017
4535          72        8913210           2017

[4536 rows x 3 columns]

In [18]:
# Export to CSV
Country_Values_df.to_csv("../../data_source/Country_Values_df.csv",
                   index=False, 
                   header=True
                  )