# 1. Json

In [1]:
# Dependencies
import json
import requests
import pandas as pd
from pprint import pprint

# 2. URL: https://ourworldindata.org/internet#all-charts-preview

# 2.9. Number of internet users by country

## 2.9.1. Country Data

In [2]:
url = 'https://ourworldindata.org/grapher/data/variables/99383.json?v=3'
Get_Data = requests.get(url).json()
#pprint(get_data)

In [3]:
Country_ID = []
Country_Name = []
Country_Code = []

for E in Get_Data['entityKey']:
    Country_ID.append(E)
    Country_Name.append(Get_Data['entityKey'][E]['name'])
    Country_Code.append(Get_Data['entityKey'][E]['code'])

In [4]:
#print(Country_ID)
len(Country_ID)

193

In [5]:
#print(Country_Code)
len(Country_Code)

193

In [6]:
#print(Country_Name)
len(Country_Name)

193

In [7]:
Country_df = pd.DataFrame({
    'Country_ID'    : Country_ID,
    'Country_Code'  : Country_Code,
    'Country_Name'  : Country_Name
})

In [8]:
Country_df

    Country_ID Country_Code        Country_Name
0            1          GBR      United Kingdom
1            2          IRL             Ireland
2            3          FRA              France
3            4          BEL             Belgium
4            5          NLD         Netherlands
..         ...          ...                 ...
188        259          SLV         El Salvador
189        262          MAC               Macao
190        279          CUW             Curacao
191        289         None  Sub-Saharan Africa
192        355     OWID_WRL               World

[193 rows x 3 columns]

In [9]:
# Export to CSV
Country_df.to_csv("../../02_Data_Output/Internet_Users_Country_Countries_df.csv",
                   index=False, 
                   header=True
                  )

## 2.9.2 Values

In [10]:
Country_ID = []
Number_Of_Internet_Users_By_Country = []
Country_Years = []


IDs      = Get_Data['variables']['99383']['entities'] 
Values   = Get_Data['variables']['99383']['values']
Years    = Get_Data['variables']['99383']['years']
    
    
for I in IDs:
    Country_ID.append(I)

for V in Values:
    Number_Of_Internet_Users_By_Country.append(V)
    
for Y in Years:
    Country_Years.append(Y)

In [11]:
#print(Country_ID)

In [12]:
Country_Values_df = pd.DataFrame({
    'Country_ID'     : Country_ID,
    'Country_Years'  : Country_Years,
    'Number_Of_Internet_Users_By_Country'  : Number_Of_Internet_Users_By_Country
})

In [13]:
Country_Values_df

      Country_ID  Country_Years  Number_Of_Internet_Users_By_Country
0             15           1990                                    0
1             16           1990                                    0
2             17           1990                                    0
3             19           1990                                    0
4             20           1990                                    0
...          ...            ...                                  ...
4531          75           2017                             36515273
4532          74           2017                               963813
4533          71           2017                              6400330
4534          70           2017                             52229607
4535          72           2017                              8913210

[4536 rows x 3 columns]

In [14]:
# Export to CSV
Country_Values_df.to_csv("../../02_Data_Output/Internet_Users_Country_Values_df.csv",
                   index=False, 
                   header=True
                  )

# 2.16. Share of the population using the Internet

## 2.16.1 Country Data

In [15]:
url = 'https://ourworldindata.org/grapher/data/variables/2683.json?v=7'
Get_Data = requests.get(url).json()
#pprint(get_data)
#pprint(Get_Data['variables'])

In [16]:
Country_ID = []
Country_Name = []
Country_Code = []

for E in Get_Data['entityKey']:
    Country_ID.append(E)
    Country_Name.append(Get_Data['entityKey'][E]['name'])
    Country_Code.append(Get_Data['entityKey'][E]['code'])

In [17]:
#print(Country_ID)
len(Country_ID)

258

In [18]:
#print(Country_Code)
len(Country_Code)

258

In [19]:
#print(Country_Name)
len(Country_Name)

258

In [20]:
Country_df = pd.DataFrame({
    'Country_ID'    : Country_ID,
    'Country_Code'  : Country_Code,
    'Country_Name'  : Country_Name
})

In [21]:
Country_df

    Country_ID Country_Code                             Country_Name
0            1          GBR                           United Kingdom
1            2          IRL                                  Ireland
2            3          FRA                                   France
3            4          BEL                                  Belgium
4            5          NLD                              Netherlands
..         ...          ...                                      ...
253      34681         None       Europe & Central Asia (IDA & IBRD)
254      34682         None   Latin America & Caribbean (IDA & IBRD)
255      34683         None  Middle East & North Africa (IDA & IBRD)
256      34684         None          Sub-Saharan Africa (IDA & IBRD)
257      54362         None                     Syrian Arab Republic

[258 rows x 3 columns]

In [22]:
# Export to CSV
Country_df.to_csv("../../02_Data_Output/Share_Population_Usage_Country_df.csv",
                   index=False, 
                   header=True
                  )

## 2.16.2 Values

In [23]:
Country_ID = []
Share_of_The_Population_Using_The_Internet_Country = []
Country_Years = []


IDs      = Get_Data['variables']['2683']['entities'] 
Values   = Get_Data['variables']['2683']['values']
Years    = Get_Data['variables']['2683']['years']
    
    
for I in IDs:
    Country_ID.append(I)

for V in Values:
    Share_of_The_Population_Using_The_Internet_Country.append(V)
    
for Y in Years:
    Country_Years.append(Y)

In [24]:
#print(Country_ID)

In [25]:
Country_Values_df = pd.DataFrame({
    'Country_ID'     : Country_ID,
    'Country_Years'  : Country_Years,
    'Share_of_The_Population_Using_The_Internet_Country'  : Share_of_The_Population_Using_The_Internet_Country
})

In [26]:
Country_Values_df

,Country_ID,Country_Years,Share_of_The_Population_Using_The_Internet_Country
0,36,1960,0.000000
1,41,1960,0.000000
2,206,1960,0.000000
3,211,1960,0.000000
4,54362,1960,0.000000
...,...,...,...
6051,75,2017,52.891929
6052,74,2017,12.360225
6053,71,2017,55.500000
6054,70,2017,64.684618
6055,72,2017,94.819923

In [27]:
# Export to CSV
Country_Values_df.to_csv("../../02_Data_Output/Share_Population_Usage_Values_df.csv",
                   index=False, 
                   header=True
                  )

# 3.URL: https://www.internetworldstats.com/stats1.htm

## 3.1. World

In [28]:
url = 'https://www.internetworldstats.com/stats.htm'
table = pd.read_html(url, header=0)
Internet_Usage_World = table[5]
Internet_Usage_World

,WORLD INTERNET USAGE AND POPULATION STATISTICS2020 Year-Q1 Estimates,WORLD INTERNET USAGE AND POPULATION STATISTICS2020 Year-Q1 Estimates.1,WORLD INTERNET USAGE AND POPULATION STATISTICS2020 Year-Q1 Estimates.2,WORLD INTERNET USAGE AND POPULATION STATISTICS2020 Year-Q1 Estimates.3,WORLD INTERNET USAGE AND POPULATION STATISTICS2020 Year-Q1 Estimates.4,WORLD INTERNET USAGE AND POPULATION STATISTICS2020 Year-Q1 Estimates.5,WORLD INTERNET USAGE AND POPULATION STATISTICS2020 Year-Q1 Estimates.6
0,World Regions,Population ( 2020 Est.),Population % of World,Internet Users 31 May 2020,Penetration Rate (% Pop.),Growth 2000-2020,Internet World %
1,Africa,1340598447,17.2 %,526710313,39.3 %,"11,567 %",11.3 %
2,Asia,4294516659,55.1 %,2366213308,55.1 %,"1,970 %",50.9 %
3,Europe,834995197,10.7 %,727848547,87.2 %,592 %,15.7 %
4,Latin America / Caribbean,658345826,8.5 %,453702292,68.9 %,"2,411 %",10.0 %
5,Middle East,260991690,3.9 %,183212099,70.2 %,"5,477 %",3.3 %
6,North America,368869647,4.7 %,348908868,94.6 %,223 %,7.5 %
7,Oceania / Australia,42690838,0.5 %,28917600,67.7 %,279 %,0.6 %
8,WORLD TOTAL,7796949710,100.0 %,4648228067,59.6 %,"1,187 %",100.0 %
9,NOTES: (1) Internet Usage and World Population...,NOTES: (1) Internet Usage and World Population...,NOTES: (1) Internet Usage and World Population...,NOTES: (1) Internet Usage and World Population...,NOTES: (1) Internet Usage and World Population...,NOTES: (1) Internet Usage and World Population...,NOTES: (1) Internet Usage and World Population...

In [29]:
# Export to CSV
Internet_Usage_World.to_csv("../../02_Data_Output/Internet_Usage_World.csv",
                   index=False, 
                   header=True
                  )

## 3.2. Africa

In [30]:
url = 'https://www.internetworldstats.com/stats1.htm'
table = pd.read_html(url, header=0)
Internet_Usage_Africa = table[5]
Internet_Usage_Africa.head()

,AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS,AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS.1,AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS.2,AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS.3,AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS.4,AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS.5,AFRICA 2020 POPULATION AND INTERNET USERS STATISTICS.6
0,AFRICA,Population (2020 Est.),InternetUsers 31-Dec-2000,InternetUsers 31-DEC-2019,Penetration (% Population),InternetGrowth % 2000 - 2020,Facebook subscribers31-DEC-2019
1,Algeria,43851044,50000,25428159,58.0 %,"50,756 %",19000000
2,Angola,32866272,30000,7078067,21.5 %,"23,493 %",2244000
3,Benin,12123200,15000,3801758,31.4 %,"25,245 %",920000
4,Botswana,2351627,15000,1116079,47.5 %,"6,455 %",830000

In [31]:
# Export to CSV
Internet_Usage_Africa.to_csv("../../02_Data_Output/Internet_Usage_Africa.csv",
                   index=False, 
                   header=True
                  )

## 3.3. Americas

In [32]:
url = 'https://www.internetworldstats.com/stats2.htm'
table = pd.read_html(url, header=0)
Internet_Usage_Americas = table[4]
Internet_Usage_Americas.head()

,"Internet Usage, Facebook Subscribers and Population Statistics for all the Americas World Region Countries March 31, 2020","Internet Usage, Facebook Subscribers and Population Statistics for all the Americas World Region Countries March 31, 2020.1","Internet Usage, Facebook Subscribers and Population Statistics for all the Americas World Region Countries March 31, 2020.2","Internet Usage, Facebook Subscribers and Population Statistics for all the Americas World Region Countries March 31, 2020.3","Internet Usage, Facebook Subscribers and Population Statistics for all the Americas World Region Countries March 31, 2020.4","Internet Usage, Facebook Subscribers and Population Statistics for all the Americas World Region Countries March 31, 2020.5","Internet Usage, Facebook Subscribers and Population Statistics for all the Americas World Region Countries March 31, 2020.6"
0,THE AMERICAS,Population ( 2020 Est. ),Pop. % Table,Internet Usage 31-Mar-2020,% Population (Penetration),Internet % Users,Facebook 29-Feb-2020
1,Anguilla,14909,0.0 %,12557,84.2 %,0.0 %,9000
2,Antigua & Barbuda,103050,0.0 %,81900,79.5 %,0.0 %,62000
3,Argentina,44688864,4.4 %,41586960,93.1 %,5.3 %,30000000
4,Aruba,105670,0.0 %,100000,94.6 %,0.0 %,91000

In [33]:
# Export to CSV
Internet_Usage_Americas.to_csv("../../02_Data_Output/Internet_Usage_Americas.csv",
                   index=False, 
                   header=True
                  )

## 3.4. Asia

In [34]:
url = 'https://www.internetworldstats.com/stats3.htm'
table = pd.read_html(url, header=0)
Internet_Usage_Asia = table[8]
Internet_Usage_Asia.head()

,"ASIA INTERNET USE, POPULATION STATISTICS DATA AND FACEBOOK DATA - JANUARY 31, 2020","ASIA INTERNET USE, POPULATION STATISTICS DATA AND FACEBOOK DATA - JANUARY 31, 2020.1","ASIA INTERNET USE, POPULATION STATISTICS DATA AND FACEBOOK DATA - JANUARY 31, 2020.2","ASIA INTERNET USE, POPULATION STATISTICS DATA AND FACEBOOK DATA - JANUARY 31, 2020.3","ASIA INTERNET USE, POPULATION STATISTICS DATA AND FACEBOOK DATA - JANUARY 31, 2020.4","ASIA INTERNET USE, POPULATION STATISTICS DATA AND FACEBOOK DATA - JANUARY 31, 2020.5","ASIA INTERNET USE, POPULATION STATISTICS DATA AND FACEBOOK DATA - JANUARY 31, 2020.6"
0,ASIA,Population ( 2020 Est.),"Internet Users, (Year 2000)",Internet Users 31-MAY-2020,Penetration % Population,Users % Asia,Facebook 31-MAR-2020
1,Afganistan,38928346,1000,7337489,18.8 %,0.3 %,3848400
2,Armenia,2963243,30000,2126716,71.8 %,0.1 %,1252000
3,Azerbaijan,10139177,12000,7991630,78.8 %,0.3 %,1854000
4,Bangladesh,164689383,100000,96199000,58.4 %,4.2 %,33713000

In [35]:
# Export to CSV
Internet_Usage_Asia.to_csv("../../02_Data_Output/Internet_Usage_Asia.csv",
                   index=False, 
                   header=True
                  )

## 3.5. Europe

In [36]:
url = 'https://www.internetworldstats.com/stats4.htm'
table = pd.read_html(url, header=0)
Internet_Usage_Europe = table[8]
Internet_Usage_Europe.head()

,Internet Stats and Facebook Usage in EuropeJune 2019 Statistics,Internet Stats and Facebook Usage in EuropeJune 2019 Statistics.1,Internet Stats and Facebook Usage in EuropeJune 2019 Statistics.2,Internet Stats and Facebook Usage in EuropeJune 2019 Statistics.3,Internet Stats and Facebook Usage in EuropeJune 2019 Statistics.4,Internet Stats and Facebook Usage in EuropeJune 2019 Statistics.5
0,EUROPE,Population ( 2019 Est. ),"Internet Users, 30-June-2019",Penetration (% Population),Users % in Europe,Facebook 31-Dec-2018
1,Albania,2938428,2160000,73.5 %,0.3 %,1400000
2,Andorra,77072,76242,98.9 %,0.0 %,42000
3,Austria,8766201,7708997,87.9 %,1.1 %,3700000
4,Belarus,9433874,7521628,79.7 %,1.0 %,3850000

In [37]:
# Export to CSV
Internet_Usage_Europe.to_csv("../../02_Data_Output/Internet_Usage_Europe.csv",
                   index=False, 
                   header=True
                  )

## 3.6. European Union

In [38]:
url = 'https://www.internetworldstats.com/stats9.htm'
table = pd.read_html(url, header=0)
Internet_Usage_EuropeanUnion = table[9]
Internet_Usage_EuropeanUnion.head()

,Internet Users in the European Union - 2019,Internet Users in the European Union - 2019.1,Internet Users in the European Union - 2019.2,Internet Users in the European Union - 2019.3,Internet Users in the European Union - 2019.4,Internet Users in the European Union - 2019.5
0,EUROPEAN UNION,Population ( 2019 Est. ),"Internet Users, 30-June-2019",Penetration (% Population),Users % Table,FACEBOOK 31-DEC-2018
1,Austria,8766201,7708997,87.9 %,1.7 %,3700000
2,Belgium,11562784,10857126,93.9 %,2.4 %,6500.000
3,Bulgaria,6988739,4663065,66.7 %,1.0 %,3300000
4,Croatia,4140148,3787838,91.5 %,0.8 %,1800000

In [39]:
# Export to CSV
Internet_Usage_EuropeanUnion.to_csv("../../02_Data_Output/Internet_Usage_EuropeanUnion.csv",
                   index=False, 
                   header=True
                  )

## 3.7. Middle East

In [40]:
url = 'https://www.internetworldstats.com/stats5.htm'
table = pd.read_html(url, header=0)
Internet_Usage_MiddleEast = table[6]
Internet_Usage_MiddleEast.head()

,"Middle East Internet Users, Population and Facebook Statistics 2020","Middle East Internet Users, Population and Facebook Statistics 2020.1","Middle East Internet Users, Population and Facebook Statistics 2020.2","Middle East Internet Users, Population and Facebook Statistics 2020.3","Middle East Internet Users, Population and Facebook Statistics 2020.4","Middle East Internet Users, Population and Facebook Statistics 2020.5","Middle East Internet Users, Population and Facebook Statistics 2020.6"
0,MIDDLE EAST,Population ( 2020 Est. ),"Users, in Dec/2000",Internet Usage 31-Mar-2020,% Population (Penetration),Internet % users,Facebook 31-Mar-2020
1,Bahrain,1701575,40000,1615620,94.9 %,0.9 %,1352500
2,Iran,83992949,250000,67602731,80.5 %,36.9 %,40000000
3,Iraq,40222493,12500,21276000,52.9 %,11.6 %,22030000
4,Israel,8655535,1270000,7002759,80.9 %,3.8 %,5920000

In [41]:
# Export to CSV
Internet_Usage_MiddleEast.to_csv("../../02_Data_Output/Internet_Usage_MiddleEast.csv",
                   index=False, 
                   header=True
                  )

## 3.8. Oceania

In [42]:
url = 'https://www.internetworldstats.com/stats6.htm'
table = pd.read_html(url, header=0)
Internet_Usage_Oceania = table[7]
Internet_Usage_Oceania.head()

,Internet Usage and Population Statistics for Oceania - 2019,Internet Usage and Population Statistics for Oceania - 2019.1,Internet Usage and Population Statistics for Oceania - 2019.2,Internet Usage and Population Statistics for Oceania - 2019.3,Internet Usage and Population Statistics for Oceania - 2019.4,Internet Usage and Population Statistics for Oceania - 2019.5,Internet Usage and Population Statistics for Oceania - 2019.6
0,OCEANIA,Population (2019 Est.),"Users, in Dec/2000","Internet Usage, 30-June-2019",% Population (Penetration),Internet % users,Facebook 31-Dec-2018
1,American Samoa,55727,NaN,24000,43.1 %,0.1 %,22000
2,Antarctica,2700,NaN,4400,100.0 %,0.0 %,1800
3,Australia,25088636,6600000,21711706,86.5 %,75.8 %,15000000
4,"Australia, Ext. Terr.",1651,NaN,NaN,NaN,NaN,NaN

In [43]:
# Export to CSV
Internet_Usage_Oceania.to_csv("../../02_Data_Output/Internet_Usage_Oceania.csv",
                   index=False, 
                   header=True
                  )

# 4. URL: http://api.worldbank.org/v2/

In [44]:
# Dependencies
import pandas as pd
from pandas import DataFrame
import requests
import json
from pandas.io.json import json_normalize

url = "http://api.worldbank.org/v2/"
format = "json"

# Get country information in JSON format
countries_response = requests.get(f"{url}country/?per_page=304&format={format}").json()
#http://api.worldbank.org/countries/?per_page=300&format=json

# First element is general information, second is countries themselves
countries = countries_response[1]

In [45]:
print (countries[0])

{'id': 'ABW', 'iso2Code': 'AW', 'name': 'Aruba', 'region': {'id': 'LCN', 'iso2code': 'ZJ', 'value': 'Latin America & Caribbean '}, 'adminregion': {'id': '', 'iso2code': '', 'value': ''}, 'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'}, 'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'}, 'capitalCity': 'Oranjestad', 'longitude': '-70.0167', 'latitude': '12.5167'}

In [46]:
# Report the names
# Name, Region, Income Level, Capital City, Longitude, Latitude
for country in countries:
    print(country["name"]) 
    print(country["region"]["value"])

Aruba
Latin America & Caribbean
Afghanistan
South Asia
Africa
Aggregates
Angola
Sub-Saharan Africa
Albania
Europe & Central Asia
Andorra
Europe & Central Asia
Andean Region
Aggregates
Arab World
Aggregates
United Arab Emirates
Middle East & North Africa
Argentina
Latin America & Caribbean
Armenia
Europe & Central Asia
American Samoa
East Asia & Pacific
Antigua and Barbuda
Latin America & Caribbean
Australia
East Asia & Pacific
Austria
Europe & Central Asia
Azerbaijan
Europe & Central Asia
Burundi
Sub-Saharan Africa
East Asia & Pacific (IBRD-only countries)
Aggregates
Europe & Central Asia (IBRD-only countries)
Aggregates
Belgium
Europe & Central Asia
Benin
Sub-Saharan Africa
Burkina Faso
Sub-Saharan Africa
Bangladesh
South Asia
Bulgaria
Europe & Central Asia
IBRD countries classified as high income
Aggregates
Bahrain
Middle East & North Africa
Bahamas, The
Latin America & Caribbean
Bosnia and Herzegovina
Europe & Central Asia
Latin America & the Caribbean (IBRD-only countries)
Aggregates
Belarus
Europe & Central Asia
Belize
Latin America & Caribbean
Middle East & North Africa (IBRD-only countries)
Aggregates
Bermuda
North America
Bolivia
Latin America & Caribbean
Brazil
Latin America & Caribbean
Barbados
Latin America & Caribbean
Brunei Darussalam
East Asia & Pacific
Sub-Saharan Africa (IBRD-only countries)
Aggregates
Bhutan
South Asia
Botswana
Sub-Saharan Africa
Sub-Saharan Africa (IFC classification)
Aggregates
Central African Republic
Sub-Saharan Africa
Canada
North America
East Asia and the Pacific (IFC classification)
Aggregates
Central Europe and the Baltics
Aggregates
Europe and Central Asia (IFC classification)
Aggregates
Switzerland
Europe & Central Asia
Channel Islands
Europe & Central Asia
Chile
Latin America & Caribbean
China
East Asia & Pacific
Cote d'Ivoire
Sub-Saharan Africa
Latin America and the Caribbean (IFC classification)
Aggregates
Middle East and North Africa (IFC classification)
Aggregates
Cameroon
Sub-Saharan Africa
Congo, Dem. Rep.
Sub-Saharan Africa
Congo, Rep.
Sub-Saharan Africa
Colombia
Latin America & Caribbean
Comoros
Sub-Saharan Africa
Cabo Verde
Sub-Saharan Africa
Costa Rica
Latin America & Caribbean
South Asia (IFC classification)
Aggregates
Caribbean small states
Aggregates
Cuba
Latin America & Caribbean
Curacao
Latin America & Caribbean
Cayman Islands
Latin America & Caribbean
Cyprus
Europe & Central Asia
Czech Republic
Europe & Central Asia
East Asia & Pacific (IDA-eligible countries)
Aggregates
Europe & Central Asia (IDA-eligible countries)
Aggregates
Germany
Europe & Central Asia
IDA countries classified as Fragile Situations
Aggregates
Djibouti
Middle East & North Africa
Latin America & the Caribbean (IDA-eligible countries)
Aggregates
Dominica
Latin America & Caribbean
Middle East & North Africa (IDA-eligible countries)
Aggregates
IDA countries not classified as Fragile Situations
Aggregates
Denmark
Europe & Central Asia
IDA countries in Sub-Saharan Africa not classified as fragile situations
Aggregates
Dominican Republic
Latin America & Caribbean
South Asia (IDA-eligible countries)
Aggregates
IDA countries in Sub-Saharan Africa classified as fragile situations
Aggregates
Sub-Saharan Africa (IDA-eligible countries)
Aggregates
IDA total, excluding Sub-Saharan Africa
Aggregates
Algeria
Middle East & North Africa
East Asia & Pacific (excluding high income)
Aggregates
Early-demographic dividend
Aggregates
East Asia & Pacific
Aggregates
Europe & Central Asia (excluding high income)
Aggregates
Europe & Central Asia
Aggregates
Ecuador
Latin America & Caribbean
Egypt, Arab Rep.
Middle East & North Africa
Euro area
Aggregates
Eritrea
Sub-Saharan Africa
Spain
Europe & Central Asia
Estonia
Europe & Central Asia
Ethiopia
Sub-Saharan Africa
European Union
Aggregates
Fragile and conflict affected situations
Aggregates
Finland
Europe & Central Asia
Fiji
East Asia & Pacific
France
Europe & Central Asia
Faroe Islands
Europe & Central Asia
Micronesia, Fed. Sts.
East Asia & Pacific
IDA countries classified as fragile situations, excluding Sub-Saharan Africa
Aggregates
Gabon
Sub-Saharan Africa
United Kingdom
Europe & Central Asia
Georgia
Europe & Central Asia
Ghana
Sub-Saharan Africa
Gibraltar
Europe & Central Asia
Guinea
Sub-Saharan Africa
Gambia, The
Sub-Saharan Africa
Guinea-Bissau
Sub-Saharan Africa
Equatorial Guinea
Sub-Saharan Africa
Greece
Europe & Central Asia
Grenada
Latin America & Caribbean
Greenland
Europe & Central Asia
Guatemala
Latin America & Caribbean
Guam
East Asia & Pacific
Guyana
Latin America & Caribbean
High income
Aggregates
Hong Kong SAR, China
East Asia & Pacific
Honduras
Latin America & Caribbean
Heavily indebted poor countries (HIPC)
Aggregates
Croatia
Europe & Central Asia
Haiti
Latin America & Caribbean
Hungary
Europe & Central Asia
IBRD, including blend
Aggregates
IBRD only
Aggregates
IDA & IBRD total
Aggregates
IDA total
Aggregates
IDA blend
Aggregates
Indonesia
East Asia & Pacific
IDA only
Aggregates
Isle of Man
Europe & Central Asia
India
South Asia
Not classified
Aggregates
Ireland
Europe & Central Asia
Iran, Islamic Rep.
Middle East & North Africa
Iraq
Middle East & North Africa
Iceland
Europe & Central Asia
Israel
Middle East & North Africa
Italy
Europe & Central Asia
Jamaica
Latin America & Caribbean
Jordan
Middle East & North Africa
Japan
East Asia & Pacific
Kazakhstan
Europe & Central Asia
Kenya
Sub-Saharan Africa
Kyrgyz Republic
Europe & Central Asia
Cambodia
East Asia & Pacific
Kiribati
East Asia & Pacific
St. Kitts and Nevis
Latin America & Caribbean
Korea, Rep.
East Asia & Pacific
Kuwait
Middle East & North Africa
Latin America & Caribbean (excluding high income)
Aggregates
Lao PDR
East Asia & Pacific
Lebanon
Middle East & North Africa
Liberia
Sub-Saharan Africa
Libya
Middle East & North Africa
St. Lucia
Latin America & Caribbean
Latin America & Caribbean
Aggregates
Latin America and the Caribbean
Aggregates
Least developed countries: UN classification
Aggregates
Low income
Aggregates
Liechtenstein
Europe & Central Asia
Sri Lanka
South Asia
Lower middle income
Aggregates
Low & middle income
Aggregates
Lesotho
Sub-Saharan Africa
Late-demographic dividend
Aggregates
Lithuania
Europe & Central Asia
Luxembourg
Europe & Central Asia
Latvia
Europe & Central Asia
Macao SAR, China
East Asia & Pacific
St. Martin (French part)
Latin America & Caribbean
Morocco
Middle East & North Africa
Central America
Aggregates
Monaco
Europe & Central Asia
Moldova
Europe & Central Asia
Middle East (developing only)
Aggregates
Madagascar
Sub-Saharan Africa
Maldives
South Asia
Middle East & North Africa
Aggregates
Mexico
Latin America & Caribbean
Marshall Islands
East Asia & Pacific
Middle income
Aggregates
North Macedonia
Europe & Central Asia
Mali
Sub-Saharan Africa
Malta
Middle East & North Africa
Myanmar
East Asia & Pacific
Middle East & North Africa (excluding high income)
Aggregates
Montenegro
Europe & Central Asia
Mongolia
East Asia & Pacific
Northern Mariana Islands
East Asia & Pacific
Mozambique
Sub-Saharan Africa
Mauritania
Sub-Saharan Africa
Mauritius
Sub-Saharan Africa
Malawi
Sub-Saharan Africa
Malaysia
East Asia & Pacific
North America
Aggregates
North Africa
Aggregates
Namibia
Sub-Saharan Africa
New Caledonia
East Asia & Pacific
Niger
Sub-Saharan Africa
Nigeria
Sub-Saharan Africa
Nicaragua
Latin America & Caribbean
Netherlands
Europe & Central Asia
Non-resource rich Sub-Saharan Africa countries, of which landlocked
Aggregates
Norway
Europe & Central Asia
Nepal
South Asia
Non-resource rich Sub-Saharan Africa countries
Aggregates
Nauru
East Asia & Pacific
IDA countries not classified as fragile situations, excluding Sub-Saharan Africa
Aggregates
New Zealand
East Asia & Pacific
OECD members
Aggregates
Oman
Middle East & North Africa
Other small states
Aggregates
Pakistan
South Asia
Panama
Latin America & Caribbean
Peru
Latin America & Caribbean
Philippines
East Asia & Pacific
Palau
East Asia & Pacific
Papua New Guinea
East Asia & Pacific
Poland
Europe & Central Asia
Pre-demographic dividend
Aggregates
Puerto Rico
Latin America & Caribbean
Korea, Dem. Peopleâ€™s Rep.
East Asia & Pacific
Portugal
Europe & Central Asia
Paraguay
Latin America & Caribbean
West Bank and Gaza
Middle East & North Africa
Pacific island small states
Aggregates
Post-demographic dividend
Aggregates
French Polynesia
East Asia & Pacific
Qatar
Middle East & North Africa
Romania
Europe & Central Asia
Resource rich Sub-Saharan Africa countries
Aggregates
Resource rich Sub-Saharan Africa countries, of which oil exporters
Aggregates
Russian Federation
Europe & Central Asia
Rwanda
Sub-Saharan Africa
South Asia
Aggregates
Saudi Arabia
Middle East & North Africa
Southern Cone
Aggregates
Sudan
Sub-Saharan Africa
Senegal
Sub-Saharan Africa
Singapore
East Asia & Pacific
Solomon Islands
East Asia & Pacific
Sierra Leone
Sub-Saharan Africa
El Salvador
Latin America & Caribbean
San Marino
Europe & Central Asia
Somalia
Sub-Saharan Africa
Serbia
Europe & Central Asia
Sub-Saharan Africa (excluding high income)
Aggregates
South Sudan
Sub-Saharan Africa
Sub-Saharan Africa
Aggregates
Small states
Aggregates
Sao Tome and Principe
Sub-Saharan Africa
Suriname
Latin America & Caribbean
Slovak Republic
Europe & Central Asia
Slovenia
Europe & Central Asia
Sweden
Europe & Central Asia
Eswatini
Sub-Saharan Africa
Sint Maarten (Dutch part)
Latin America & Caribbean
Sub-Saharan Africa excluding South Africa
Aggregates
Seychelles
Sub-Saharan Africa
Syrian Arab Republic
Middle East & North Africa
Turks and Caicos Islands
Latin America & Caribbean
Chad
Sub-Saharan Africa
East Asia & Pacific (IDA & IBRD countries)
Aggregates
Europe & Central Asia (IDA & IBRD countries)
Aggregates
Togo
Sub-Saharan Africa
Thailand
East Asia & Pacific
Tajikistan
Europe & Central Asia
Turkmenistan
Europe & Central Asia
Latin America & the Caribbean (IDA & IBRD countries)
Aggregates
Timor-Leste
East Asia & Pacific
Middle East & North Africa (IDA & IBRD countries)
Aggregates
Tonga
East Asia & Pacific
South Asia (IDA & IBRD)
Aggregates
Sub-Saharan Africa (IDA & IBRD countries)
Aggregates
Trinidad and Tobago
Latin America & Caribbean
Tunisia
Middle East & North Africa
Turkey
Europe & Central Asia
Tuvalu
East Asia & Pacific
Taiwan, China
East Asia & Pacific
Tanzania
Sub-Saharan Africa
Uganda
Sub-Saharan Africa
Ukraine
Europe & Central Asia
Upper middle income
Aggregates
Uruguay
Latin America & Caribbean
United States
North America
Uzbekistan
Europe & Central Asia
St. Vincent and the Grenadines
Latin America & Caribbean
Venezuela, RB
Latin America & Caribbean
British Virgin Islands
Latin America & Caribbean
Virgin Islands (U.S.)
Latin America & Caribbean
Vietnam
East Asia & Pacific
Vanuatu
East Asia & Pacific
World
Aggregates
Samoa
East Asia & Pacific
Kosovo
Europe & Central Asia
Sub-Saharan Africa excluding South Africa and Nigeria
Aggregates
Yemen, Rep.
Middle East & North Africa
South Africa
Sub-Saharan Africa
Zambia
Sub-Saharan Africa
Zimbabwe
Sub-Saharan Africa

In [47]:
Lat_Long_Coordinates_df = DataFrame(countries)
Lat_Long_Coordinates_df

,id,iso2Code,name,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
0,ABW,AW,Aruba,"{'id': 'LCN', 'iso2code': 'ZJ', 'value': 'Lati...","{'id': '', 'iso2code': '', 'value': ''}","{'id': 'HIC', 'iso2code': 'XD', 'value': 'High...","{'id': 'LNX', 'iso2code': 'XX', 'value': 'Not ...",Oranjestad,-70.0167,12.5167
1,AFG,AF,Afghanistan,"{'id': 'SAS', 'iso2code': '8S', 'value': 'Sout...","{'id': 'SAS', 'iso2code': '8S', 'value': 'Sout...","{'id': 'LIC', 'iso2code': 'XM', 'value': 'Low ...","{'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'}",Kabul,69.1761,34.5228
2,AFR,A9,Africa,"{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': ''}","{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': 'Aggregates'}",,,
3,AGO,AO,Angola,"{'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-...","{'id': 'SSA', 'iso2code': 'ZF', 'value': 'Sub-...","{'id': 'LMC', 'iso2code': 'XN', 'value': 'Lowe...","{'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'}",Luanda,13.242,-8.81155
4,ALB,AL,Albania,"{'id': 'ECS', 'iso2code': 'Z7', 'value': 'Euro...","{'id': 'ECA', 'iso2code': '7E', 'value': 'Euro...","{'id': 'UMC', 'iso2code': 'XT', 'value': 'Uppe...","{'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'}",Tirane,19.8172,41.3317
...,...,...,...,...,...,...,...,...,...,...
299,XZN,A5,Sub-Saharan Africa excluding South Africa and ...,"{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': ''}","{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': 'Aggregates'}",,,
300,YEM,YE,"Yemen, Rep.","{'id': 'MEA', 'iso2code': 'ZQ', 'value': 'Midd...","{'id': 'MNA', 'iso2code': 'XQ', 'value': 'Midd...","{'id': 'LIC', 'iso2code': 'XM', 'value': 'Low ...","{'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'}",Sana'a,44.2075,15.352
301,ZAF,ZA,South Africa,"{'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-...","{'id': 'SSA', 'iso2code': 'ZF', 'value': 'Sub-...","{'id': 'UMC', 'iso2code': 'XT', 'value': 'Uppe...","{'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'}",Pretoria,28.1871,-25.746
302,ZMB,ZM,Zambia,"{'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-...","{'id': 'SSA', 'iso2code': 'ZF', 'value': 'Sub-...","{'id': 'LMC', 'iso2code': 'XN', 'value': 'Lowe...","{'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'}",Lusaka,28.2937,-15.3982
303,ZWE,ZW,Zimbabwe,"{'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-...","{'id': 'SSA', 'iso2code': 'ZF', 'value': 'Sub-...","{'id': 'LMC', 'iso2code': 'XN', 'value': 'Lowe...","{'id': 'IDB', 'iso2code': 'XH', 'value': 'Blend'}",Harare,31.0672,-17.8312

In [48]:
# Export to CSV
Lat_Long_Coordinates_df.to_csv("../../02_Data_Output/Lat_Long_Coordinates.csv",
                   index=False, 
                   header=True
                  )

# 5. URL: https://datahelpdesk.worldbank.org/knowledgebase/articles/898581-api-basic-call-structures

# 6. URL: https://www.comparethemarket.com/broadband/content/global-broadband-index/

In [49]:
from splinter import Browser
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")

In [50]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [51]:
url='https://www.comparethemarket.com/broadband/content/global-broadband-index/'
browser.visit(url)

In [52]:
element = browser.find_all('table')

AttributeError: 'WebDriver' object has no attribute 'find_all'

In [ ]:
print(element)

# 7 URL: https://thewebindex.org/downloads/

In [ ]:
url = 'http://thewebindex.org/wp-content/uploads/2012/05/Web_Index_JSONLD_data_2014.js'
Get_Data = requests.get(url).json()
Get_Data

# 8.URL: https://data.worldbank.org/indicator/IT.NET.USER.ZS

In [ ]:
url = 'https://data.worldbank.org/indicator/IT.NET.USER.ZS'
table = pd.read_html(url, header=0)
table